<div (click)="scroll()" id="top_link" title="Revenir en haut de page" xmlns=""><span class="top_link_name">HAUT</span>
    <i class="fa fa-arrow-up" aria-hidden="true"></i>
</div>

<div class="contenu">
    <div class="global_width">
        <div class="footer">

            <h1 title="Conditions Générales d'Utilisation">Conditions Générales d'Utilisation</h1>

            <p>
                Les présentes Conditions Générales d’Utilisation (CGU) sont conclues entre <b>L’ETIQUETTE</b> : <br/><br/>
                <b>Raison sociale :</b> L’ETIQUETTE<br/>
                <b>Numéro de SIRET :</b> 834 935 991 00010 <br/>
                <b>Forme juridique :</b> société par actions simplifiée (SAS)<br/>
                <b>Adresse du siège social :</b> 34 rue Raymond Aron – PAT de la Vatine - 76130 Mont Saint Aignan<br/>
                <b>Montant du capital social :</b> 6 000 €<br/>
                <b>Adresse mail :</b> contact@letiquette-shop.com<br/>

                et toute personne utilisant les espaces « commentaires » du blog ou de la marketplace et ayant procédé à
                son enregistrement en cette qualité (« l’utilisateur »).

            </p>

            <p>
                <b>L’ETIQUETTE</b> et l’Utilisateur seront désignés ci-après comme les « Parties ».
            </p>


            <h2>
                Préambule
            </h2>

            <p>
                Tout Utilisateur ne pourra accéder au Site sans avoir pris connaissance et préalablement accepté les CGU, étant précisé qu’il sera considéré les avoir acceptées sans réserve en cochant la case prévue à cet effet dans le formulaire d’enregistrement.<br/>
                Dans le cas où l’Utilisateur ne souhaite pas accepter tout ou partie des présentes CGU, il ne pourra laisser aucun commentaire sur le site.<br/>
                L’Utilisateur déclare être âgé de plus de 18 ans et avoir la pleine capacité juridique ou bénéficier de l’autorisation d’une personne titulaire de l’autorité parentale, d’un tuteur ou bien d’un curateur pour pouvoir faire usage du Site.<br/>
                La boutique a pour objet de vendre des articles aux utilisateurs.<br/>
                Le blog a pour objet de créer une communauté.<br/>
                Le site permet aux utilisateurs d’exprimer leur intérêt personnel sur les thèmes abordés dans les articles du site en procédant à la création ou l’édition de contenu (« commentaires ») et tendre ainsi à la création d’une communauté (« l’objet du Site »), ainsi que de proposer à l’achat des produits et la possibilité de laisser des commentaires concernant un produit acheté.<br/>
                Les CGU définissent les droits et obligations de <b>L’ETIQUETTE</b> et des Utilisateurs, en leur qualité d’éditeur de contenu.<br/>
                <b>L’ETIQUETTE</b> se réserve le droit de modifier les CGU à tout moment, et d’en informer les Utilisateurs via un avertissement sur le Site ou par mail par exemple.<br/>
                Toute correspondance avec <b>L’ETIQUETTE</b> pourra être adressée par email à l’adresse suivante : contact@letiquette-shop.com<br/>
                Ou par courrier postal à l’adresse suivante : 34 rue Raymond Aron – PAT de la Vatine - 76130 Mont Saint Aignan
            </p>


            <h2>
                Article 1 – Contenu
            </h2>

            <p>
                Chaque utilisateur a la possibilité d’éditer et de publier sur le Site, sous sa seule responsabilité, des commentaires liés aux articles du blog publiés par <b>L’ETIQUETTE</b> sur le blog, ainsi que des commentaires liés aux produits achetés.<br/>
                Ces commentaires mis en ligne par un Utilisateur seront accessibles aux autres Utilisateurs ainsi qu’à l’ensemble des internautes.<br/>
                <b>L’ETIQUETTE</b> ne pourra en aucun cas être tenue pour responsable des propos tenus par les Utilisateurs.<br/>
                Le Site et ses contenus sont destinés à un usage exclusivement personnel des Utilisateurs (et non commercial).<br/>
                Chaque Utilisateur s’engage à ne pas dénaturer ou ternir l’image d’un contenu appartenant à <b>L’ETIQUETTE</b>.<br/>
                L’Utilisateur concède à <b>L’ETIQUETTE</b>, à titre gratuit, une licence cessible d’utilisation, de reproduction et de représentation, pour le monde entier et pour la durée de la mise en ligne, avec le droit de concéder des sous-licences, pour tout média existant, sur le contenu mis en ligne par l’Utilisateur sur le Site.
            </p>

            <h2>
                Article 2 – Données personnelles
            </h2>

            <p>
                En sa qualité d’hébergeur au sens de la loi n°2004-575 du 21 juin 2004 pour la confiance dans l’économie numérique, <b>L’ETIQUETTE</b> est dans l’obligation de détenir et conserver les données de nature à permettre l’identification de chaque Utilisateur pendant 3 ans à compter de la dernière mise en ligne de contenu par l’utilisateur.<br/>
                Pour s’enregistrer et donc ouvrir un compte sur le Site, tout Utilisateur devra indiquer son nom, son prénom, sa date de naissance, une de ses adresses de courrier électronique et choisir un mot de passe.<br/>
                Le non-respect de cette obligation est puni d'un an d'emprisonnement et de 75.000€ d'amende (article 6, VI, 2° de la loi n°2004-575 du 21 juin 2004 pour la confiance dans l’économie numérique).<br/>
                L’Utilisateur pourra également indiquer un pseudonyme n’étant pas son nom ou prénom s’il préfère être identifié ainsi vis-à-vis des autres utilisateurs et des internautes.<br/>
                <b>L’ETIQUETTE</b> est tenue de conserver les données personnelles précitées ainsi que les données de connexion (login, adresse IP, date et heure de connexion et de déconnexion). <b>L’ETIQUETTE</b> conservera ces informations concernant un Utilisateur donné pendant 3 ans à compter de la dernière mise en ligne de contenu par un Utilisateur.<br/>
                Ces informations ne pourront être communiquées qu’à une autorité judiciaire qui en formulerait la demande.<br/>
                Conformément à la loi n°78-17 du 6 janvier 1978 relative à l'informatique, aux fichiers et aux libertés, le traitement des informations nominatives collectées sur le Site a fait l'objet d'une déclaration auprès de la Commission Nationale de l'Informatique et des Libertés (CNIL) le 2 février 2018 sous le numéro 2148864 v 0.<br/>
                L'Utilisateur dispose d'un droit d'accès, de modification, de rectification et de suppression des données le concernant en accédant à la rubrique de son compte.<br/>
                Le renseignement de ces informations nominatives collectées est obligatoire pour l’ouverture d’un compte. <b>L’ETIQUETTE</b> ne transmettra pas ces informations à des tiers de manière volontaire et fera son possible pour sécuriser ces informations. Il est cependant rappelé qu’il s’agit d’une obligation de moyens et non de résultat, et que <b>L’ETIQUETTE</b> ne peut être tenue responsable d’évènements ne dépendant pas de sa volonté, comme un piratage par exemple.<br/>
                Le Site est destiné à permettre aux Utilisateurs d’apporter leur contribution aux thèmes de discussion et d’échange qui seraient proposés et qui doivent être en relation avec l’Objet du Site (création d’une communauté pour le blog, vente d’articles pour la boutique).<br/>
                Il est rappelé que toute diffusion de données à caractère personnel (nom, photographie, adresse, etc.) est soumise au consentement préalable des personnes auxquelles elles se rapportent.

            </p>

            <h2>
                Article 3 – Obligations de l’Utilisateur
            </h2>
            <p>
                L’Utilisateur postant des commentaires s’engage et/ou utilisant le site s’engage à :
            </p>

            <ul>
                <li>
                    respecter les présentes Conditions Générales d’Utilisation ;
                </li>
                <li>
                    respecter l’ensemble des dispositions législatives et réglementaires, l’ordre public, les bonnes mœurs et les droits des tiers (en ce compris les droits de propriété intellectuelle ou contractuels, le droit à l’image et le droit à la vie privée…) ;
                </li>
                <li>
                    ne pas tenir des propos (ou diffuser de contenu) dénigrants, diffamatoires, pornographiques, obscènes, racistes, injurieux, sexistes ou portant atteinte à l'image ou à la réputation d'une marque ou d’une personne ;
                </li>
                <li>
                    ne pas porter à la connaissance du public l’identité et les coordonnées d’une personne sans son accord (comme ses numéros de téléphone et adresses de courriers électroniques) ;
                </li>
                <li>
                    ne pas faire de la publicité, vendre des produits ou ajouter des liens commerciaux sans l’accord de <b>L’ETIQUETTE</b> ;
                </li>
                <li>
                    ne pas télécharger du contenu contenant des virus ou fichiers corrompus ;
                </li>
                <li>
                    ne pas recueillir des données concernant les Utilisateurs ;
                </li>
                <li>
                    ne pas modifier ou effacer les informations concernant les droits d’auteurs, marques ou origines permettant d’identifier les sources du contenu ;
                </li>
                <li>
                    avoir bien commandé et reçu le produit concerné par le commentaire qu’il laisse ou souhaite laisser.

                </li>
            </ul>

            <p>
                Chaque Utilisateur déclare détenir l’ensemble des droits (en ce compris tout droit de propriété intellectuelle, droits d’auteurs et droit à l’image) et autorisations nécessaires à la diffusion sur le Site des commentaires qu’il met en ligne.<br />
                Les commentaires mis en ligne par l’Utilisateur doivent être en rapport direct avec l’Objet du Site (création d’une communauté pour le blog et vente de produits pour la boutique).

            </p>

            <h2>
                Article 4 – Responsabilité
            </h2>

            <p>
                L’Utilisateur, en sa qualité de créateur de contenu, est seul responsable du contenu qu’il met en ligne sur le Site, ainsi que les textes et/ou opinions qu’il formule.<br />
                Le modérateur essaye d’écarter tout contenu qui serait considéré comme contraire aux CGU, à la Loi ou aux droits des tiers.<br />
                L’Utilisateur reconnaît que <b>L’ETIQUETTE</b> ne pourra, en aucun cas, être tenue responsable du préjudice, direct ou indirect, que pourrait subir l’Utilisateur à raison de l’utilisation du Site.<br />
                Il appartient à chaque utilisateur de surveiller et de censurer son contenu.<br />
                <b>L’ETIQUETTE</b> se réserve le droit de supprimer un contenu ou de fermer le compte de l’Utilisateur, si <b>L’ETIQUETTE</b> considérait que le contenu mis en ligne par l’Utilisateur était contraire aux CGU, à la loi ou aux droits des tiers. En outre, l’Utilisateur s’exposerait à des sanctions civiles et/ou pénales. Enfin, <b>L’ETIQUETTE</b> se réserve le droit d’exercer tout recours à l’encontre de l’Utilisateur.<br />
                L’Utilisateur s’engage à indemniser <b>L’ETIQUETTE</b> de tout préjudice, direct ou indirect, qui pourrait naître à raison du non-respect par l’Utilisateur des CGU, de la loi ou des droits des tiers ou plus généralement à raison du contenu mis en ligne par l’Utilisateur.

            </p>


            <h2>
                Article 5 – Modération
            </h2>

            <p>
                Le contenu mis en ligne par un Utilisateur est soumis à la modération. Il peut être modéré s’il est jugé contraire aux CGU, à la loi ou aux droits des tiers.<br />
                Le rôle du modérateur est de veiller au bon déroulement des discussions et au respect des CGU. <b>L’ETIQUETTE</b> se réserve donc le droit de modifier ou supprimer, à tout moment et sans préavis, tout ou partie d’un élément de contenu ou un pseudonyme qui, selon <b>L’ETIQUETTE</b>, serait contraire aux CGU, à la loi ou aux droits des tiers.<br />
                Dans cette hypothèse, <b>L’ETIQUETTE</b> préviendra l’Utilisateur par courrier électronique.<br />
                Si malgré les moyens mis en œuvre, il est constaté qu’un élément de contenu est contraire aux CGU, à la loi ou aux droits des tiers, il est possible d’en informer <b>L’ETIQUETTE</b> en lui écrivant un mail : contact@letiquette-shop.com.<br />
                Il est rappelé que le fait, pour toute personne, de présenter un contenu ou une activité comme étant illicite dans le but d'en obtenir le retrait ou d'en faire cesser la diffusion, alors qu'elle sait cette information inexacte, est puni d'une peine d'un an d'emprisonnement et de 15.000€ d'amende (article 6, I, 4° de la loi n°2004-575 du 21 juin 2004 pour la confiance dans l’économie numérique).<br />
                Tout Utilisateur peut à tout moment demander à <b>L’ETIQUETTE</b> la modification ou la suppression de ses propres messages en écrivant à <b>L’ETIQUETTE</b> aux coordonnées indiquées ci-dessous, en prenant soin d’indiquer les éléments de manière précise.
                Par mail : contact@letiquette-shop.com
            </p>

            <h2>
                Article 6 – Notification
            </h2>

            <p>
                En sa qualité d’hébergeur, <b>L’ETIQUETTE</b> n’est pas soumise à une obligation générale de surveiller les informations qu’elle transmet ou stocke pour le compte des Utilisateurs, ni à une obligation générale de rechercher des faits ou circonstances révélant des activités illicites.<br />
                Toutefois, <b>L’ETIQUETTE</b> a pour obligation de mettre en place un dispositif permettant à toute personne de porter à sa connaissance des éléments de contenu relatifs à l’apologie des crimes contre l’humanité, l’incitation à la haine, la pornographie enfantine, l’incitation à la violence, les atteintes à la dignité humaine…<br />
                Tout Utilisateur ou tout tiers peur notifier à <b>L’ETIQUETTE</b> l’existence d’un tel contenu sur le Site en adressant un courrier électronique à <b>L’ETIQUETTE</b> suivi d’un courrier postal par lettre recommandée avec accusé de réception aux coordonnées indiquées ci-dessus.<br />
                <b>L’ETIQUETTE</b> retirera le contenu en question et transfèrera la notification aux autorités publiques compétentes.<br />
                Cette notification devra contenir les informations suivantes :

            </p>


            <ul>
                <li>
                    Informations détaillées sur les faits constatés (localisation sur la page internet, adresse URL, etc.)
                </li>
                <li>
                    Les raisons pour lesquelles le contenu doit être retiré
                </li>
                <li>
                    Les coordonnées de la personne ayant constaté ces éléments : noms, prénoms, profession, domicile, nationalité, date et lieu de naissance, numéro de téléphone, adresse mail, s’il s’agit d’une personne physique ; forme sociale, dénomination, siège social et représentant légal s’il s’agit d’une personne morale.

                </li>
            </ul>

            <h2>
                Article 7 – Référencement des messages
            </h2>

            <p>
                Tous les contenus publiés sur le Site sont susceptibles d’être référencés sur un moteur de recherche et donc d’être consultés par un public extérieur à celui visitant le Site habituellement.
            </p>


            <h2>
                Article 8 – Cookies
            </h2>

            <p>
                Un cookie est un petit fichier texte stocké sur votre ordinateur, mobile ou tablette lorsque vous
                consultez notre site. Vous n’avez pas besoin que les cookies soient activés pour visiter le site, mais
                l’accès à certains services comme par exemple votre Compte peut requérir l’emploi de cookies pour
                fonctionner correctement.<br/>
                Ces cookies nous permettent de faciliter et d’améliorer votre expérience sur notre site, comme par
                exemple vous reconnaître lorsque vous revenez sur le site. Les cookies nous fournissent des informations
                codées et ne permettent pas de vous identifier personnellement : ils reconnaissent seulement
                l’ordinateur utilisé. Grâce à eux vous bénéficiez d’une navigation la plus personnalisée possible. La
                durée de conservation des données relatives aux cookies est limitée à 13 mois.<br/>
                Si vous le souhaitez, vous pouvez désactiver la fonction « cookies » de votre navigateur.<br/>
                Pour plus d’informations à propos des cookies, vous pouvez consulter le site de la CNIL
                (www.cnil.fr).<br/>
                Chez <b>L’ETIQUETTE</b>nous utilisons des cookies nécessaires au bon fonctionnement du site :
            </p>

            <ul>
                <li>
                    PHPSESSID : identification ID
                </li>
                <li>Serveur : identification ID serveur

                </li>
            </ul>


            <p>
                Ainsi que des cookies pour améliorer votre expérience utilisateur et vous permettre de vous connecter
                plus rapidement lorsque vous visitez le site :
            </p>

            <ul>
                <li>
                    Pseudo : le pseudo que vous avez choisi
                </li>
                <li>
                    isConnected : afin de savoir si vous êtes déjà connecté
                </li>
            </ul>

            <p>Nous utilisons également les cookies fournis par Google, qui nous permettent par exemple de compter le
                nombre de pages visitées ou le nombre d’articles lus.
            </p>

            <h2>
                Article 9 – Divers
            </h2>

            <p>
                La langue d’usage du Site est le Français.<br/>
                Le contrat conclu en application des présentes CGU est un contrat à durée indéterminée.<br/>
                L’Utilisateur peut fermer son compte en suivant les instructions sur le Site.<br/>
                Les CGU sont régies par le droit français.<br/>
                Tout litige auquel les CGU présentes pourraient donner lieu sera porté devant les juridictions compétentes du lieu du siège de <b>L’ETIQUETTE</b> en application des règles de droit commun.

            </p>


        </div>
    </div>
</div>