<div (click)="scroll()" id="top_link" title="Revenir en haut de page" xmlns=""><span class="top_link_name">HAUT</span>
    <i class="fa fa-arrow-up" aria-hidden="true"></i>
</div>

<div class="contenu">
    <div class="global_width">
        <div class="footer">
            <h1 title="Conditions Générales de Vente">Conditions Générales de Vente</h1>

            <p>Les présentes conditions générales de vente (CGV) sont conclues entre <b>L’ETIQUETTE</b> :<br/><br/>


                <b>Raison sociale :</b> L’ETIQUETTE<br/>
                <b>Numéro de SIRET :</b> 834 935 991 00010 <br/>
                <b>Forme juridique :</b> société par actions simplifiée (SAS)<br/>
                <b>Adresse du siège social :</b> 34 rue Raymond Aron – PAT de la Vatine - 76130 Mont Saint Aignan<br/>
                <b>Montant du capital social :</b> 6 000 €<br/>
                <b>Adresse mail :</b> contact@letiquette-shop.com <br/><br/>

                D’une part<br/>
                Et<br/>
                Les personnes physiques souhaitant effectuer un achat via le site internet de <b>L’ETIQUETTE</b>, site
                de commerce électronique, ci-après dénommée « l’utilisateur ».<br/>
                D’autre part.
            </p>


            <h2>Préambule et définitions</h2>
            <p>
                Utilisateur : toute personne physique qui accède au site internet de <b>L’ETIQUETTE</b>.<br/>
                Acheteur : utilisateur ayant validé une commande sur le site de <b>L’ETIQUETTE</b>.<br/>
                Partenaire : toute marque de mode dont les produits sont vendus sur le site de <b>L’ETIQUETTE</b>.<br/>
                Marketplace : site internet qui rassemble plusieurs fournisseurs sur une seule et même plateforme.<br/>
                Pour l’application des présentes conditions générales de vente, il est convenu que l’utilisateur et <b>L’ETIQUETTE</b>
                seront collectivement dénommés les « parties ». L’utilisateur ayant validé une commande sera alors
                dénommé « acheteur ». Les droits et obligations de l’utilisateur s’appliquent nécessairement à
                l’acheteur. Les marques partenaires de <b>L’ETIQUETTE</b> présentes sur le site de <b>L’ETIQUETTE</b>
                seront dénommées « partenaire » de manière individuelle et « partenaires » de manière collective.<br/>
                L’utilisateur qui souhaiterait acheter sur le site déclare être âgé de plus de 18 ans et avoir la pleine
                capacité juridique ou bénéficier de l’autorisation d’une personne titulaire de l’autorité parentale,
                d’un tuteur ou bien d’un curateur pour pouvoir effectuer des achats sur le site.<br/>
                Toute commande d’un article proposé sur le site suppose la consultation et l’acceptation des présentes
                conditions générales de vente (ci-après dénommées « CGV »). L’acceptation de l’acheteur sera
                matérialisée par le fait de cocher la case « J’ai lu et j’accepte les conditions générales de vente
                ».<br/>
                Les présentes CGV s’appliquent sans restriction ni réserve à l’ensemble des ventes conclues par <b>L’ETIQUETTE</b>
                auprès d’acheteurs non professionnels, désirant acquérir les produits proposés à la vente par le vendeur
                sur son site internet mentionné ci-dessus.<br/>
                Les CGV sont accessibles à tout moment sur le site de <b>L’ETIQUETTE</b> et prévaudront le cas échéant
                sur toute autre version ou tout autre document contradictoire.<br/>
                L’accès au site <b>L’ETIQUETTE</b> s’effectue dans les conditions normales de connexion à internet.
                Aucun surcoût de connexion ne sera facturé à l’utilisateur.<br/>
                <b>L’ETIQUETTE</b> se réserve le droit de modifier ces CGV à tout moment et sans préavis. Les conditions
                applicables sont celles en vigueur à la date de passation de la commande. Si les CGV sont modifiées,
                elles seront applicables dès leur mise en ligne et s’appliqueront immédiatement à toute nouvelle
                commande. L’édition ainsi que la sauvegarde de ces conditions relèvent de la responsabilité de
                l’acheteur. Toute modification sera portée à la connaissance de l’utilisateur, par exemple par mail ou
                en étant directement indiqué sur le site de <b>L’ETIQUETTE</b> via un avertissement tel un pop up ou un
                bandeau.<br/>
            </p>


            <h2>
                Article 1 – Définitions d’utilisation des présentes CGV de la marketplace
            </h2>
            <p>
                La marketplace et le service de marketplace sont mis en ligne par la société <b>L’ETIQUETTE</b> sur ses
                sites internet : www.letiquette-shop.fr ou www.letiquette-shop.com. Ce service permet aux utilisateurs
                d’acheter des produits neufs à un prix ferme (les produits) auprès des marques partenaires de <b>L’ETIQUETTE</b>
                (les partenaires, les vendeurs).<br/>
                Les présentes CGV ont pour objet de définir les conditions d’utilisation de la Marketplace par les
                utilisateurs. Elles seront consultables à tout moment sur le site de <b>L’ETIQUETTE</b>.<br/>
                Les produits appartenant au partenaire mis en ligne sur le site de <b>L’ETIQUETTE</b> porteront
                l’identité de ce dernier sur la fiche produit correspondante.<br/>
                Toutes les dispositions des Conditions Générales d’Utilisation de <b>L’ETIQUETTE</b> s’appliquent
                pleinement à l’utilisateur, dans le cadre de l’achat des produits sur la Marketplace de
                <b>L’ETIQUETTE</b>.<br/>

            </p>

            <h2>
                Article 2 – Enregistrement et validation d’une commande
            </h2>

            <h3>2.1 – Navigation à l’intérieur du site </h3>

            <p>
                L’utilisateur peut librement naviguer sur les différentes pages du site sans pour autant être engagé au
                titre d’une commande. Lors de cette navigation, l’utilisateur peut prendre connaissance des différents
                articles proposés à la vente par les partenaires sur le site de <b>L’ETIQUETTE</b>.
            </p>

            <h3>
                2.2 – Inscription et mot de passe
            </h3>

            <p>
                L’inscription est nécessaire et obligatoire pour passer une commande sur le site de <b>L’ETIQUETTE</b>.
                L’utilisateur devra remplir avec exactitude le formulaire d’inscription. Il devra renseigner les
                informations nécessaires à son identification, en particulier ses nom, prénom, date de naissance,
                adresse postale, mail valide et mot de passe.<br/>
                <b>L’ETIQUETTE</b> garantit la confidentialité des données transmises après la saisie dudit mot de
                passe.<br/>
                L’utilisateur est tenu responsable quant à l’usage de son mot de passe. Il en assure sa conservation
                ainsi que sa confidentialité.<br/>
                Si l’utilisateur oublie son mot de passe, il peut en créer un nouveau en cliquant sur le lien « mot de
                passe oublié ». Un mail lui sera alors envoyé à l’adresse qu’il aura communiqué à <b>L’ETIQUETTE</b> lui
                indiquant la marche à suivre pour réinitialiser son mot de passe.<br/>
                Lors de la création de son compte, l’utilisateur pourra autoriser <b>L’ETIQUETTE</b> à lui envoyer des
                informations par mail ou par téléphone, comme par exemple la newsletter ou des communiqués. Pour cela il
                devra cocher la case correspondante « J’autorise <b>L’ETIQUETTE</b> à m’envoyer des informations ».<br/>
                A chaque envoi de tels mails ou sms, l’utilisateur aura la possibilité de se désinscrire à la liste de
                diffusion des messages futurs en suivant la marche à suivre indiquée dans lesdits messages.<br/>
            </p>

            <h3>
                2.3 – Passation et enregistrement d’une commande
            </h3>

            <p>
                Une fois l’inscription en ligne effectuée et/ou après connexion de l’utilisateur sur le site,
                l’utilisateur a la possibilité de passer une commande en ligne à partir du catalogue en ligne. Pour que
                la commande soit validée, l’acheteur devra préalablement accepter les Conditions Générales de Vente en
                cochant la case prévue à cet effet.<br/>
                Pour que la commande de l’acheteur soit prise en compte, l’acheteur devra indiquer toutes les
                indications utiles et nécessaires à son traitement.<br/>
                A tout moment l’utilisateur pourra :

            </p>
            <ul>
                <li>
                    Obtenir un récapitulatif des articles qu’il a sélectionnés en cliquant sur « mon panier » ;
                </li>
                <li>
                    Poursuivre sa sélection des articles en cliquant sur « continuer mes achats » ;
                </li>
                <li>Terminer sa sélection des articles en cliquant sur « passer ma commande »
                </li>
            </ul>
            <p>
                Une fois l’utilisateur identifié, pour passer commande, il devra valider récapitulatif de la commande
                qui précisera : la nature, quantité, prix du ou des articles retenus par l’utilisateur ; le montant des
                frais de livraison ; le total de la commande ; les coordonnées de l’utilisateur et l’adresse de
                livraison.<br/>
                Toute commande vaudra acceptation des prix et description des produits disponibles à la vente.<br/>
                Dans certains cas, comme par exemple un défaut de paiement, une adresse erronée ou un autre problème sur
                le compte de l’acheteur, <b>L’ETIQUETTE</b> se réserve le droit de bloquer la commande jusqu’à la
                résolution du problème.<br/>
                En cas d’indisponibilité d’un produit commandé, l’acheteur en sera informé par courrier électronique.
                L’annulation de la commande de ce produit et son éventuel remboursement seront alors effectués, le reste
                de la commande demeurant ferme et définitif.

            </p>

            <h2>
                Article 3 – Territoires concernés
            </h2>

            <p>
                Il n’est pas possible d’effectuer une commande à destination d’un pays non inclus dans la liste de pays
                de destination autorisés par <b>L’ETIQUETTE</b> : France métropolitaine ; Allemagne ; Autriche ;
                Belgique ; Bulgarie ; Chypre ; Croatie ; Danemark ; Espagne ; Estonie ; Finlande ; Grèce ; Hongrie ;
                Irlande ; Italie ; Lettonie ; Lituanie ; Luxembourg ; Malte ; Pays-Bas ; Pologne ; Portugal ; République
                Tchèque ; Roumanie ; Royaume-Uni ; Slovaquie ; Suède ; Suisse ; Slovénie.
            </p>


            <h2>
                Article 4 – Fiches produit
            </h2>

            <p>
                Le partenaire produira une fiche produit relative à chaque produit mis en vente par le biais de la
                MarketPlace de <b>L’ETIQUETTE</b> qui indiquera de manière précise :
            </p>


            <ul>
                <li>
                    Le nom du partenaire avec les mentions relatives à son identité ;
                </li>
                <li>La description dudit produit et ses caractéristiques ;</li>
                <li>Son prix ;</li>
                <li>Sa disponibilité ;</li>
                <li>Le lieu géographique de disponibilité ;</li>
                <li>La garantie commerciale accordée par le partenaire pour le produit le cas échéant.

                </li>
            </ul>


            <h2>
                Article 5 – Formulaire de contact à la disposition de l’utilisateur
            </h2>
            <p>
                Une fois une commande passée, l’utilisateur pourra interroger le partenaire du produit par le biais du
                formulaire de contact de <b>L’ETIQUETTE</b>. Toute question de l’utilisateur portant sur le produit, sa
                livraison, le service après-vente, le droit de rétractation ou tout autre motif sera transmise au
                partenaire par <b>L’ETIQUETTE</b>.
            </p>


            <h2>
                Article 6 – Prix des produits
            </h2>
            <p>
                Chaque partenaire de la Marketplace déterminera le prix de ses produits qu’il pourra librement fixer
                dans le respect des lois et règlements applicables.<br/>
                Le prix des produits sera indiqué en euro toutes taxes comprises hors frais de livraison.<br/>
                Le montant des frais de livraison pour chaque produit sera ajouté avant la validation de la commande par
                l’Utilisateur.<br/>
                Les prix des produits ne sont jamais négociables par l’Utilisateur et pourront être modifiés par le
                partenaire à tout moment. En aucun cas, cette modification de prix ne pourra être applicable à une
                commande déjà validée par l’Utilisateur.

            </p>


            <h2>Article 7 – Paiement des produits par l’utilisateur</h2>
            <h3>
                7.1 – Mode de paiement
            </h3>
            <p>
                Les modes de paiement sont communiqués à l’utilisateur au plus tard au début du processus de commande.
                Le paiement s’effectuera uniquement sur internet par carte (Bleue, Visa, Eurocard, Mastercard) auprès de
                l’organisme choisi par <b>L’ETIQUETTE</b> tel que PayGreen ou Mangopay.
            </p>

            <h3>
                7.2 – Délais de paiement
            </h3>

            <p>
                Le paiement s’effectuera en une fois et valide la commande : aucun délai ne sera accordé à
                l’utilisateur.<br/>
                La transaction apparaîtra sur le compte bancaire de l’acheteur en fonction des conditions de son
                organisme bancaire. Le délai peut varier d’un organisme à un autre.
            </p>

            <h3>
                7.3 – Défaut de paiement
            </h3>

            <p>
                Le paiement est nécessaire pour valider la commande. Le paiement est sécurisé par l’organisme PayGreen.
                Une commande sera considérée comme nulle en cas de défaut de paiement de la part de l’utilisateur. Le
                produit ne sera alors pas expédié.<br/>
                <b>L’ETIQUETTE</b> se réserve le droit d’annuler une commande si le défaut de paiement était détecté
                après la validation de la commande. <b>L’ETIQUETTE</b> en informera l’acheteur concerné par mail.
            </p>

            <h3>
                7.4 – Facturation
            </h3>

            <p>
                Chaque commande fera l’objet d’une facture électronique que l’acheteur recevra par mail.
            </p>


            <h2>
                Article 8 – Bons de réduction
            </h2>

            <h3>
                8.1 – Délivrance des bons de réduction
            </h3>

            <p>
                Lors d’occasions exceptionnelles, <b>L’ETIQUETTE</b> peut être amenée à émettre des bons de réduction
                qui seront envoyés lors de certaines occasions particulières à certains utilisateurs ou utilisateurs
                potentiels. Leur montant et le mode de délivrance variera en fonction de l’occasion. De manière
                générale, les personnes déjà utilisatrices seront informés par mail de l’attribution d’un bon de
                réduction ainsi que de sa valeur.<br/>
                La durée de validité du bon de réduction est d’un an à compter de sa date d’émission.<br/>
                Pour utiliser son bon de réduction, l’acheteur devra inscrire le code communiqué dans le champ approprié
                avant de finaliser sa commande. L’utilisateur devra conserver chaque code communiqué : en cas de perte,
                <b>L’ETIQUETTE</b> ne sera pas en mesure de les communiquer de nouveau.
            </p>

            <h3>
                8.2 – Conditions d’utilisation des bons de réduction
            </h3>

            <p>
                Sauf indications contraires notamment reliées à l’utilisation d’un bon de réduction lors de
                l’enregistrement d’une première commande, plusieurs bons peuvent être utilisés sur une même
                commande.<br/>
                En aucun cas ils ne pourront être convertis en devises.<br/>
                Les bons émis comportent une date d’expiration ne pouvant être modifiée.<br/>
                Aucun nouveau bon ne pourra être émis ou attribué à un utilisateur en remplacement d’un bon périmé et
                non-utilisé.<br/>
                L’application d’un bon implique nécessairement que la valeur du panier, avant le calcul des frais de
                livraison, soit supérieure à la valeur du bon sauf dans le cas où les conditions particulières
                d’utilisation dudit bon précisent un montant minimum d’achat (avant le calcul des frais de livraison).
                Dans ce cas, la valeur du panier (avant le calcul des frais de livraison) devra être supérieure à la
                valeur du minimum d’achat requis pour l’utilisation du bon.<br/>
                Un acheteur ne pourra en aucun cas demander à <b>L’ETIQUETTE</b> de déduire d’une commande déjà validée
                et payée la valeur d’un bon dont le code n’aura pas été saisi, sélectionné ou qui serait défectueux
                lorsque celle-ci a été passée.<br/>
                Les bons sont valables uniquement sur le site <b>L’ETIQUETTE</b>.
            </p>


            <h3>
                8.3 – Utilisation des bons
            </h3>

            <p>
                Afin de bénéficier de la réduction associée à un bon, l’utilisateur doit saisir son code qui lui a été
                attribué dans la fenêtre et la case prévue à cet effet. Après avoir saisi le bon, l’utilisateur devra
                valider en cliquant sur le bouton « valider » ou « ok ». La réduction sera immédiatement déduite du
                montant de la commande.
            </p>


            <h3>
                8.4 – Remboursement d’une commande contenant un bon
            </h3>

            <p>
                Lorsqu’une commande contient un bon, le montant du bon est soustrait du total de la commande avant
                application des frais de livraison. Le remboursement d’un article d’une commande, quelle qu’en soit la
                raison, est réalisé déduction faite de la part du bon associé qui sera alors recrédité sur le compte
                client.
            </p>

            <h2>
                Article 9 – Livraison des produits par le vendeur
            </h2>

            <h3>
                9.1 – Mise en expédition
            </h3>

            <p>
                Les produits ne pourront être expédiés qu’à des adresses de livraison situées dans les pays mentionnés
                dans l’article 3 des présentes CGV, sauf mentions contraires spécifiées par le partenaire.<br/>
                Les produits seront transportés aux risques exclusifs du partenaire, qui supportera par ailleurs les
                éventuels frais de douane et d’import lorsque le partenaire choisit de ne pas les inclure dans les frais
                de livraison à la charge de l’acheteur.<br/>
                Après confirmation de la commande, <b>L’ETIQUETTE</b> indique au partenaire l’adresse de livraison,
                telle que communiquée par l’acheteur. Il appartient à l’acheteur de s’assurer que l’adresse qu’il a
                indiquée est correcte et qu’elle permet de recevoir les produits commandés. La responsabilité de <b>L’ETIQUETTE</b>
                et du partenaire ne pourra être engagée en cas de non livraison du produit due à une erreur sur
                l’adresse de livraison communiquée par l’acheteur.<br/>
                Le partenaire expédie directement les produits commandés à l’adresse indiquée.<br/>
                L’acheteur reçoit un email de <b>L’ETIQUETTE</b> l’informant de l’expédition des produits par le
                partenaire.<br/>
                A tout moment, l’acheteur pourra contacter le partenaire par le biais de la messagerie
                <b>L’ETIQUETTE</b>.<br/>
                Le partenaire décline toute responsabilité en cas de retard de livraison imputable à la force majeure ou
                en cas de grève des services postaux ou des transports.<br/>
                La livraison étant du ressort du partenaire, <b>L’ETIQUETTE</b> décline toute responsabilité en cas de
                retard de livraison.
            </p>

            <h3>
                9.2 – Livraison
            </h3>

            <p>
                A réception de la commande, l’acheteur pourra exercer son droit de rétractation ou faire part des
                éventuelles réclamations concernant les produits (dommages ou non-conformité par exemple), selon les
                modalités décrites et dans les délais indiqués dans l’article 10 des présentes CGV.<br/>
                Dans le cas où la livraison du ou des produits appelle des réserves, l’acheteur pourra les notifier au
                transporteur au moment de la livraison.<br/>
                Conformément à l’article L138-2 du Code de la Consommation, si l’acheteur n’avait pas reçu le produit à
                l’expiration du délai ou de la date de livraison communiquée, l’acheteur devra en informer <b>L’ETIQUETTE</b>
                par le biais de la messagerie <b>L’ETIQUETTE</b>, pour lui accorder un délai supplémentaire raisonnable
                afin d’exécuter la commande.<br/>
                Les délais de livraison varient d’un partenaire à un autre, aussi les retards de livraisons ne peuvent
                être imputés à <b>L’ETIQUETTE</b>.

            </p>

            <h3>
                9.3 – Colis perdu
            </h3>

            <p>
                Si dans les 2 semaines qui suivent la mise en expédition de sa commande, l’acheteur n’a toujours pas
                reçu son colis, ni d’avis de passage, ni d’information précise via le suivi en ligne de son colis, il
                devra se rendre dans le bureau de poste le plus proche de l’adresse communiquée pour la livraison ou à
                son point colis muni du numéro de suivi de la livraison du colis. Si le transporteur ne trouve aucune
                trace du colis, l’acheteur devra prendre contact avec le service client <b>L’ETIQUETTE</b> via le
                formulaire de contact du site de <b>L’ETIQUETTE</b>. <b>L’ETIQUETTE</b> ouvrira alors une enquête auprès
                du partenaire et du transporteur.<br/>
                Si le colis est retrouvé, il sera immédiatement réexpédié à l’acheteur qui en sera immédiatement
                informé.<br/>
                Si le colis est considéré comme perdu, <b>L’ETIQUETTE</b> procèdera au remboursement du montant total de
                la commande perdue dans un délai de quatorze (14) jours à compter de la fin de l’enquête. Si l’acheteur
                le souhaite, et dans la limite des stocks disponible, il pourra également choisir de se faire expédier
                le même produit.
            </p>

            <h3>
                9.4 – Livraison non conforme
            </h3>

            <p>
                En dépit du soin apporté à la préparation des commandes, certains articles d’une commande peuvent
                s’avérer défectueux, manquants ou non conformes. C’est pourquoi à la réception de sa commande,
                l’acheteur veillera à la conformité des articles reçus et devra refuser tout colis ouvert, déchiré et/ou
                reconditionné par le transporteur.<br/>
                Toute anomalie concernant la livraison (article manquant, cassé, non conforme ou colis endommagé) devra
                impérativement être notifié sous quatorze (14) jours à compter de la réception du colis par l’acheteur
                auprès du service client de <b>L’ETIQUETTE</b>, via le formulaire de contact du site de
                <b>L’ETIQUETTE</b>.<br/>
                Toute réclamation formulée après ce délai sera rejetée et <b>L’ETIQUETTE</b> sera déléguée de toute
                responsabilité.<br/>
                Si les conditions susmentionnées sont remplies, <b>L’ETIQUETTE</b> procèdera alors soit au remboursement
                d’un ou des articles défectueux, soit à la réexpédition de l’article manquant, sous réserve du
                bien-fondé de la demande de l’acheteur et de la disponibilité de l’article en question. L’acheteur devra
                préalablement retourner l’article défectueux, aux frais du partenaire. Le remboursement intervient dans
                un délai de trente (30) jours ouvrés à compter de la date de réception par le partenaire du colis
                réexpédié.
            </p>

            <h3>
                9.5 – Livraison hors France Métropolitaine
            </h3>

            <p>
                Toute commande passée sur le site de <b>L’ETIQUETTE</b> et expédiée hors de la France Métropolitaine
                peut être soumise à des taxes ou droits de douane éventuels. Ces coûts liés à la livraison sont à la
                charge de l’acheteur et relèvent de sa responsabilité. <b>L’ETIQUETTE</b> n’est pas tenue d’informer
                l’utilisateur des charges ou droits de douane applicables au pays de livraison.<br/>
                Par ailleurs, en raison de leur dimension et selon les différents réseaux de distribution des marques,
                certains articles sont proposés uniquement pour une livraison en France métropolitaine. Les articles
                concernés par cette restriction sont identifiables dans le panier.<br/>
                Pour valider sa commande, l’acheteur devra soit retirer les articles de son panier, soit renseigner une
                adresse de livraison en France métropolitaine.
            </p>

            <h3>
                9.6 – Offre promotionnelle « livraison offerte »
            </h3>

            <p>
                La livraison est offerte sur toute la commande dès soixante-dix (70) euros d’achat hors remise. L’offre
                s’applique uniquement aux livraisons en France Métropolitaine.
            </p>

            <h2>
                Article 10 – Droits de rétractation
            </h2>
            <p>
                L’acheteur dispose d'un délai de quatorze jours pour exercer son droit de rétractation, sans avoir à
                motiver sa décision ni à supporter d'autres coûts que ceux prévus aux <a
                    href="https://www.legifrance.gouv.fr/affichCodeArticle.do;jsessionid=C29224F84E3EDE5C3A4AE9EBC0A4455E.tpdila17v_2?cidTexte=LEGITEXT000006069565&idArticle=LEGIARTI000028741418&dateTexte=&categorieLien=cid"
                    target="_blank">articles L. 121-21-3 à L. 121-21-5</a>.<br/>
                Le délai de 14 jours mentionné ci-dessus court à compter du jour de validation de la commande par
                l’acheteur.<br/>
                A réception du produit par l’acheteur un nouveau délai de 14 jours à compter du jour de la réception est
                alloué à l’acheteur pour exercer son droit de rétractation.<br/>
                Dans le cas d'une commande portant sur plusieurs biens livrés séparément ou dans le cas d'une commande
                d'un bien composé de lots ou de pièces multiples dont la livraison est échelonnée sur une période
                définie, le délai court à compter de la réception du dernier bien ou lot ou de la dernière pièce.<br/>
                L’acheteur renverra les biens au partenaire de <b>L’ETIQUETTE</b> concerné au plus tard dans les
                quatorze jours suivant la communication de sa décision de se rétracter.<br/>
                Le consommateur ne supporte pas les coûts de renvoi des biens : ils seront supportés par le partenaire
                de <b>L’ETIQUETTE</b>. Cette clause n’est valable que dans le cas d’un retour effectué depuis la France
                métropolitaine.<br/>
                L’exercice du droit de rétractation engendrera le remboursement de la commande par <b>L’ETIQUETTE</b> et
                le partenaire, sauf en cas de dépréciation des biens résultant de manipulations autres que celles
                nécessaires pour établir la nature, les caractéristiques et le bon fonctionnement de ces biens.<br/>
                L’acheteur informera <b>L’ETIQUETTE</b> de sa décision de rétractation en lui adressant un message via
                le formulaire de contact de <b>L’ETIQUETTE</b>, dénué d’ambiguïté, exprimant sa volonté de se rétracter.<br/>
                La charge de la preuve de l'exercice du droit de rétractation dans les conditions prévues au présent
                article pèse sur l’acheteur.<br/>
                Les articles livrés faisant l’objet d’une rétractation devront être retournés dans leur conditionnement
                et leur emballage d’origine à l’adresse qui sera communiquée à l’acheteur.<br/>
                Les articles devront être retournés dans un état neuf et propre à la revente. Ils devront être
                accompagnés de tous leurs accessoires, notices d’emploi et documentation.<br/>
                Les articles retournés doivent avoir fait l’objet d’un usage minime, c’est-à-dire avoir été essayés
                quelques minutes et ne doivent pas porter de traces d’une utilisation prolongée. Les sous-vêtements
                devront être retournés notamment avec leurs films protecteurs. Pour des raisons d’hygiène et de
                protection de la santé, certains produits ne pourront être repris que s’ils sont restitués dans leur
                emballage d’origine scellé, comme les produits cosmétiques les boucles d’oreilles et les piercings.<br/>
                Si les conditions susmentionnées sont remplies, <b>L’ETIQUETTE</b> et le partenaire rembourseront
                l’acheteur dans un délai de quatorze jours ouvrés maximum à compter de la date de réception par le
                partenaire, les sommes versées par l’acheteur lors du passage de sa commande.
            </p>

            <h2>
                Article 11 – Réclamations
            </h2>

            <p>
                L’utilisateur peut contacter <b>L’ETIQUETTE</b> par le biais du formulaire de contact de
                <b>L’ETIQUETTE</b>. Toute question de l’acheteur portant sur le produit, sa livraison, le service
                après-vente, le droit de rétractation ou tout autre motif sera transmise au partenaire concerné.
            </p>

            <h2>
                Article 12 – Retours
            </h2>

            <p>
                Lors d’un échange d’article portant sur le même produit (taille identique ou différente ; couleur
                identique ou différente), si le prix du produit en question avait diminué durant l’intervalle de temps
                s’étant écoulé entre l’achat et le retour, aucun remboursement de la différence de prix ne sera
                effectué.<br/>
                Les risques liés à la réexpédition sont à la charge de l’acheteur. Par conséquent, il lui appartient de
                conserver toutes les preuves de ce retour.<br/>
                La charge du retour est supportée par le partenaire. Le moyen utilisé pour le renvoi du produit doit
                donc être convenu avec le partenaire concerné, notamment en ce qui concerne les renvois suivis. Tout
                autre moyen utilisé et non validé par le partenaire sera à la charge exclusive de l’acheteur.<br/>
                Les justificatifs de réexpédition devront comporter l’adresse du destinataire ainsi que la date
                d’expédition et le numéro du colis.
            </p>

            <h2>
                Article 13 – Preuve, conservation et archivage des transactions
            </h2>

            <p>
                Les registres informatisés, conservés dans les systèmes informatiques de <b>L’ETIQUETTE</b> et de ses
                partenaires dans des conditions raisonnables de sécurité, seront considérés comme des preuves des
                communications, des commandes et des paiements intervenus entre les parties.<br/>
                L'archivage des bons de commande est effectué sur un support fiable et durable de manière à correspondre
                à une copie fidèle et durable conformément à l'article 1379 du Code Civil.<br/>
                Dans tous les cas, la fourniture en ligne du numéro de carte bancaire et la validation finale de la
                commande vaudront preuve de l'intégralité de ladite commande, conformément aux dispositions l'article
                1316-1 du Code Civil et vaudront exigibilité des sommes correspondant à la saisie des articles figurant
                sur le bon de commande.<br/>
                Cette validation vaut signature et acception expresse de toutes les opérations effectuées au moyen de la
                Marketplace. Toutefois, en cas d'utilisation frauduleuse de sa carte bancaire, l’utilisateur est invité,
                dès le constat de cette utilisation, à contacter <b>L’ETIQUETTE</b> via le formulaire de contact.
            </p>

            <h2>
                Article 14 – Contenus illicites ou litigieux
            </h2>

            <p>
                <b>L’ETIQUETTE</b> se réserve tout droit de supprimer toute information ou tout contenu manifestement
                illicite mentionné sur le site. Les utilisateurs sont invités à aviser <b>L’ETIQUETTE</b> de tout type
                d’information ou contenu illicite ou litigieux via le formulaire de contact.
            </p>

            <h2>
                Article 15 – Force majeure
            </h2>

            <p>
                Toutes circonstances indépendantes de la volonté des parties empêchant l’exécution des conditions
                normales de leurs obligations sont considérées comme des causes d’exonération des obligations des
                parties et entraînent leur suspension.<br/>
                La partie qui invoque les circonstances visées ci-dessus doit avertir immédiatement l’autre partie de
                leur survenance ainsi que de leur disparition.<br/>
                Sont considérés, comme cas de force majeure, tous faits ou circonstances irrésistibles extérieurs aux
                parties, imprévisibles, inévitables, indépendants de la volonté des parties et qui ne pourront être
                empêchés par ces dernières, en dépit de tous les efforts raisonnablement possibles.<br/>
                De façon expresse, sont considérés comme cas de force majeure ou cas fortuit, outre ceux habituellement
                retenus par la jurisprudence des Cours et des Tribunaux français, le blocage des moyens de transport ou
                d‘approvisionnement, les tremblements de terre, les incendies, tempêtes, inondations, foudres, l’arrêt
                des réseaux de télécommunication ou difficultés propres aux réseaux de télécommunication externes au
                client.<br/>
                Les parties se rapprocheront pour examiner l’incidence de l’évènement et convenir des conditions dans
                lesquelles l’exécution du contrat sera poursuivie.<br/>
                Si le cas de force majeure a une durée supérieure à trois (3) mois, les présentes conditions générales
                pourront être résiliées par la partie lésée.

            </p>


            <h2>
                Article 16 – Garanties des produits
            </h2>

            <h3>
                16.1 – Garantie commerciale
            </h3>

            <p>
                Les articles vendus en ligne par la société <b>L’ETIQUETTE</b> ne peuvent donner lieu à garantie
                commerciale dite garantie fabricant dès lors que la société <b>L’ETIQUETTE</b> n’est pas partie. Ainsi
                tous les produits mis en ligne sont exclusifs de ladite garantie commerciale. En conséquence, aucun
                acheteur ne pourra demander à bénéficier de ladite garantie.<br/>
                La garantie du fabricant pourra, le cas échéant, être indiquée sur la fiche descriptive du produit lors
                de la vente sur le site internet de <b>L’ETIQUETTE</b>. L’étendue et la durée de cette garantie
                commerciale varie selon les marques et les fabricants. Dans tous les cas, <b>L’ETIQUETTE</b> ne pourra
                être tenue pour responsable en cas de refus du fabricant d’appliquer sa garantie.<br/>
                En cas de défectuosité de l’article vendu, l’acheteur devra conserver la facture d’achat transmise par
                <b>L’ETIQUETTE</b> et s’adresser au service client de <b>L’ETIQUETTE</b> qui lui fera part de la marche
                à suivre.<br/>
                En tout état de cause, la garantie commerciale sera refusée à tout produit modifié, réparé, intégré ou
                ajouté par l’acheteur ou toute autre personne non autorisée par le fournisseur dudit produit ou du
                service. Elle ne prendra pas davantage en charge les produits endommagés lors du transport ou lors d’une
                mauvaise utilisation.
            </p>

            <h3>
                16.2 – Garanties légales
            </h3>

            <p>
                Il est rappelé conformément aux articles L211-4, L211.5, L211.7, L211.9, L211.10, L211.12, L211.13 du
                Code de la Consommation, les garanties légales accordées par les partenaires aux acheteurs.<br/>
                L’utilisateur et l’acheteur sont informés que les garants des défauts de la chose vendue est le
                partenaire concerné par la chose vendue de la société <b>L’ETIQUETTE</b> située 34 rue Raymond Aron, PAT
                de la Vatine, 76130 Mont Saint Aignan. Cette garantie légale de conformité est valable deux ans à
                compter de la livraison de l’article.<br/>
                Il est indiqué que l’acheteur pourra choisir entre la réparation ou le remplacement du bien sous réserve
                des conditions de coût et de disponibilité de l’article, prévues par l’article L211.9 du Code de la
                Consommation.<br/>
                Lorsqu’il agit sur le fondement des articles L 211.4 et suivants du Code de la Consommation, l’acheteur
                est dispensé de rapporter la preuve de l’existence du défaut de conformité du bien durant les 24 mois de
                la livraison de l’article.<br/>
                Cette garantie légale de conformité n’est pas exclusive de la garantie commerciale que pourrait
                consentir le fabricant, et de la garantie que pourrait exercer l’acheteur sur le fondement de l’article
                1641 du Code Civil.<br/>
                La société partenaire est tenue de livrer un bien conforme au contrat et devra répondre des défauts de
                conformité existants lors de la livraison. Elle ne pourra pas répondre des défauts de conformité
                résultant de l’emballage, des instructions de montage ou de l’installation puisque celle-ci n’a pas été
                mise à sa charge par son contrat et n’a pas non plus été réalisée sous sa responsabilité.<br/>
                Est propre à la consommation l’article propre à l’usage habituellement attendu d’un article semblable et
                le cas échéant correspondant à la description donnée par le vendeur et doit :

            </p>
            <ul>
                <li>
                    Posséder les qualités que celui-ci lui a présentées sous forme d’échantillon ou de modèle ;
                </li>
                <li>
                    Présenter les qualités qu’un acheteur peut légitimement attendre eu égard aux déclarations publiques
                    du vendeur, du producteur ou de son représentant, notamment dans la publicité ou l’étiquetage ;
                </li>
                <li>
                    Ou présenter les caractéristiques définies d’un commun accord par les parties ou être propre à
                    tout usage spécial recherché par l’acheteur porté à la connaissance du vendeur et que ce dernier a
                    accepté.


                </li>
            </ul>


            <p>
                Dans le cadre de sa garantie légale de conformité et en cas de défaut de conformité lors de la livraison
                de l’article, le partenaire s’engage :</p>

            <ul>

                <li>
                    Soit à remplacer le produit à l’acheteur par un produit identique en fonction des stocks disponibles
                    sur demande expresse de l’acheteur,
                </li>
                <li>Soit à lui échanger un produit ou service pour un produit de qualité et de prix équivalents en
                    fonction des stocks disponibles sur acceptation de l’acheteur,
                </li>
                <li>
                    Soit à lui rembourser le prix du produit ou service commandé dans les trente (30) jours suivant la
                    demande de l’acheteur si le remplacement du produit à l’identique n’est pas possible ou à
                    l’équivalent.

                </li>
            </ul>

            <p>
                Les défauts de conformité apparaissant dans un délai de 24 mois, à partir de la livraison du bien sont
                présumés exister au moment de sa délivrance sauf preuve contraire. Le partenaire peut combattre cette
                présomption si celle-ci n’est pas compatible avec la nature du bien ou le défaut de conformité
                invoqué.<br/>
                En cas de défaut de conformité, l’acheteur choisit entre la réparation ou le remplacement du bien.<br/>
                Toutefois, le vendeur peut ne pas procéder à la réparation si celle-ci entraîne un coût manifestement
                disproportionné au regard du remboursement, compte tenu de la valeur du bien ou de l’importance du
                défaut.<br/>
                Le partenaire est alors tenu de procéder, sauf impossibilité, selon la modalité non choisie par
                l’acheteur.<br/>
                Si la réparation ou le remplacement du bien sont impossibles, l’acheteur peut rendre le bien et se faire
                restituer le prix ou garder le bien et se faire rendre une partie du prix dont le montant sera
                préalablement déterminé par le partenaire.<br/>
                La même faculté est offerte à l’acheteur :

            </p>

            <ul>
                <li>
                    Si la solution demandée, proposée ou convenue en application de l’article L211.9 du Code de la
                    Consommation ne peut être mise en œuvre dans le délai d’un (1) mois suivant la réclamation de
                    l’acheteur ;
                    ou
                </li>
                <li>
                    Si cette solution ne peut l’être sans inconvénient majeur pour celui-ci compte tenu de la nature du
                    bien et de l’usage qu’il recherche.
                </li>

            </ul>
            <p>

                La résolution de la vente en peut toutefois être prononcée si le défaut de conformité est mineur.
                L’action résultant du défaut de conformité se prescrit par deux (2) ans à compter de la délivrance du
                bien.<br/>
                Les dispositions de la présente section ne privent pas l’acheteur du droit d’exercer l’action résultant
                des vices rédhibitoires telle qu’elle résulte des articles 1641 à 1649 du Code Civil ou toute autre
                action
                de nature contractuelle ou extracontractuelle qui lui est reconnue par la Loi.

            </p>

            <h3>16.3 – Garantie des vices cachés prévue par les articles 1641 et suivants du Code Civil

            </h3>

            <p>
                Il est rappelé les articles suivants :<br/>
                Article 1641 du Code Civil : « Le vendeur est tenu de la garantie à raison des défauts cachés de la
                chose vendue qui la rendent impropre à l'usage auquel on la destine, ou qui diminuent tellement cet
                usage que l'acheteur ne l'aurait pas acquise, ou n'en aurait donné qu'un moindre prix, s'il les avait
                connus. »<br/>
                Article 1645 du Code Civil : « Si le vendeur connaissait les vices de la chose, il est tenu, outre la
                restitution du prix qu'il en a reçu, de tous les dommages et intérêts envers l'acheteur. »<br/>
                Article 1646 du Code Civil : « Si le vendeur ignorait les vices de la chose, il ne sera tenu qu'à la
                restitution du prix, et à rembourser à l'acquéreur les frais occasionnés par la vente. »<br/>
                Article 1648 alinéa 1 du Code Civil : « L'action résultant des vices rédhibitoires doit être intentée
                par l'acquéreur dans un délai de deux ans à compter de la découverte du vice. »<br/>
                Pour toute demande concernant les garanties légales, l’acheteur doit alors contacter le service client
                de la société <b>L’ETIQUETTE</b> via le formulaire de contact.<br/>
                Dans le cadre de la garantie des défauts de la chose vendue, <b>L’ETIQUETTE</b> et le partenaire
                concerné, après évaluation du vice caché et selon le choix de l’acheteur, s’engagent :
            </p>

            <ul>
                <li>
                    Soit à lui rembourser la totalité du prix du produit retourné au partenaire
                </li>
                <li>
                    Soit à lui retourner une partie du prix déterminé par <b>L’ETIQUETTE</b> et le partenaire, si
                    l’acheteur demande à le conserver
                </li>

            </ul>


            <h2>
                Article 17 – Responsabilité
            </h2>

            <h3>
                17.1 – Informations sur les produits
            </h3>

            <p>
                Pour chaque article en vente sur le site, le partenaire s’engage à fournir une fiche descriptive pour en
                présenter les caractéristiques essentielles, que <b>L’ETIQUETTE</b> s’engage à retranscrire aussi
                fidèlement que possible. <b>L’ETIQUETTE</b> et le partenaire mettent tout en œuvre pour procurer à
                l’utilisateur un maximum d’informations lui permettant de connaître les articles avant d’enregistrer ses
                commandes.<br/>
                Malgré tout le soin apporté à la rédaction de ces descriptifs, une erreur pourrait se glisser. Si
                l’utilisateur constate une erreur manifeste, il pourra prendre contact avec le service client pour l’en
                informer. <b>L’ETIQUETTE</b> s’engage alors à procéder le plus rapidement possible à la correction de
                ces erreurs.<br/>
                <b>L’ETIQUETTE</b> vend des articles de première qualité. Cependant, certains articles vendus comportent
                des effets « vintage » et comportent des détériorations volontaires et voulues par le fabricant (trous,
                décolorations, moustaches, plis permanents…). Ces articles ont été traités dans le but de leur donner un
                aspect particulier. Les détails ajoutés au tissu sont souvent réalisés à la main. Il est donc impossible
                d’assurer une homogénéité des articles. Ainsi, il est normal de constater des différences entre
                l’article photographié et l’article livré. Cela s’applique également pour tous les articles réalisés à
                la main présents sur le site de <b>L’ETIQUETTE</b>.
            </p>

            <h3>
                17.2 – Responsabilité
            </h3>

            <p>
                La responsabilité de <b>L’ETIQUETTE</b> est limitée au montant de la commande de l’acheteur.<br/>
                La responsabilité de <b>L’ETIQUETTE</b> ne peut être mise en cause pour tous les inconvénients ou
                dommages inhérents à l’utilisation d’un ordinateur [tablette, téléphone ou tout autre moyen permettant
                d’accéder à internet], d’un réseau informatique ou d’internet. Notamment, <b>L’ETIQUETTE</b> ne peut en
                aucun cas être tenue responsable d’une rupture de service, d’une intrusion extérieure ou de la présence
                d’un virus informatique. <b>L’ETIQUETTE</b> n’a qu’une obligation de moyens pour toutes les étapes
                d’accès au site, notamment la consultation, le remplissage de formulaire, la passation de commande, le
                paiement ainsi que tout autre service disponible sur le site de <b>L’ETIQUETTE</b>.<br/>
                <b>L’ETIQUETTE</b> ne pourra être tenue responsable de tous dommages matériels, immatériels ou corporels
                engendrés par la mauvaise utilisation d’un article acheté sur le site.<br/>
                Il appartient à l’utilisateur de vérifier auprès des autorités locales les spécificités quant aux taxes,
                déclarations, interdictions, possibilités d’importation ou d’utilisation des articles commandés. La
                responsabilité de <b>L’ETIQUETTE</b> ne saurait être engagée en cas de non-respect de la législation du
                pays où les articles seront livrés.<br/>
                La livraison des produits, la qualité des produits et le respect des normes éthiques demandées par <b>L’ETIQUETTE</b>
                sont l’exclusive responsabilité des partenaires de <b>L’ETIQUETTE</b>. En aucun cas <b>L’ETIQUETTE</b>
                ne pourra être tenue responsable en cas de litige entre l’acheteur et le partenaire.
            </p>


            <h2>
                Article 18 – Informatique et libertés
            </h2>

            <h3>
                18.1 – Informations nominatives
            </h3>

            <p>
                Le renseignement des informations nominatives collectées dans le cadre de la vente à distance est
                obligatoire, ces informations étant nécessaires pour l’enregistrement, le traitement, la livraison des
                commandes, l’établissement des factures et la lutte contre la fraude à la carte bleue. Ces informations
                sont strictement confidentielles : elles seront partagées avec les partenaires concernés par chaque
                commande mais pas au-delà. Le défaut de renseignement implique le rejet automatique de la commande.<br/>
                Conformément à la loi n°78-17 du 6 janvier 1978 relative à l’informatique, aux fichiers et aux libertés,
                le traitement des informations nominatives collectées sur le site a fait l’objet d’une déclaration
                auprès de la Commission Nationale de l’Informatique et des Libertés (Déclaration CNIL) le 2 février 2018
                sous le numéro 2148864 v 0. L’utilisateur dispose d’un droit d’accès, de modification, de rectification
                et de suppression des données le concernant. Pour exercer ce droit, l’utilisateur devra faire une
                demande via le formulaire de contact de <b>L’ETIQUETTE</b>.
            </p>

                <h3>
                    18.2 – Cookies
                </h3>

                <p>
                    Un cookie est un petit fichier texte stocké sur votre ordinateur, mobile ou tablette lorsque vous
                    consultez notre site. Vous n’avez pas besoin que les cookies soient activés pour visiter le site,
                    mais
                    l’accès à certains services comme par exemple votre Compte peut requérir l’emploi de cookies pour
                    fonctionner correctement.<br/>
                    Ces cookies nous permettent de faciliter et d’améliorer votre expérience sur notre site, comme par
                    exemple vous reconnaître lorsque vous revenez sur le site. Les cookies nous fournissent des
                    informations
                    codées et ne permettent pas de vous identifier personnellement : ils reconnaissent seulement
                    l’ordinateur utilisé. Grâce à eux vous bénéficiez d’une navigation la plus personnalisée possible.
                    La
                    durée de conservation des données relatives aux cookies est limitée à 13 mois.<br/>
                    Si vous le souhaitez, vous pouvez désactiver la fonction « cookies » de votre navigateur.<br/>
                    Pour plus d’informations à propos des cookies, vous pouvez consulter le site de la CNIL
                    (www.cnil.fr).<br/>
                    Chez <b>L’ETIQUETTE</b> nous utilisons des cookies nécessaires au bon fonctionnement du site :
                </p>

                <ul>
                    <li>
                        PHPSESSID : identification ID
                    </li>
                    <li>Serveur : identification ID serveur

                    </li>
                </ul>


                <p>
                    Ainsi que des cookies pour améliorer votre expérience utilisateur et vous permettre de vous
                    connecter
                    plus rapidement lorsque vous visitez le site :
                </p>

                <ul>
                    <li>
                        Pseudo : le pseudo que vous avez choisi
                    </li>
                    <li>
                        isConnected : afin de savoir si vous êtes déjà connecté
                    </li>
                </ul>

                <p>Nous utilisons également les cookies fournis par Google, qui nous permettent par exemple de compter
                    le
                    nombre de pages visitées ou le nombre d’articles lus.</p>


            <h2>
                Article 19 – Propriété intellectuelle
            </h2>

            <p>
                Tous les éléments du Site Internet, qu'ils soient visuels ou sonores, y compris la technologie
                sous-jacente, sont protégés par le droit d'auteur, des marques ou des brevets.<br/>
                Ainsi, aucun des documents provenant du Site Internet ne peut être copié, reproduit, republié,
                téléchargé, posté, transmis ou distribué d'aucune manière que ce soit, sauf dans les conditions
                suivantes : il est possible de télécharger une copie des documents sur un ordinateur pour votre
                utilisation personnelle et uniquement à des fins non commerciales, pourvu que vous ne modifiez pas les
                informations et que vous conserviez intacts tous les copyrights et autres mentions de propriété. La
                modification de ces documents ou leur utilisation par les Acheteurs dans un autre but constitue une
                infraction aux droits de propriété intellectuelle et industrielle de <b>L’ETIQUETTE</b> et de ses
                partenaires.

            </p>

            <h2>
                Article 20 – Invalidité partielle
            </h2>

            <p>
                Dans l’hypothèse où l’une des clauses du présent contrat serait nulle et non avenue par un changement de
                législation, de réglementation ou par une décision de justice, cela ne saurait en aucun cas affecter la
                validité et le respect des présentes conditions générales de vente.
            </p>

            <h2>
                Article 21 – Intégralité du contrat
            </h2>

            <p>
                Les présentes conditions générales de vente et le récapitulatif de commande transmis à l’acheteur
                forment un ensemble contractuel et constituent l’intégralité des relations contractuelles intervenues
                entre les parties. En cas de contradiction entre ces documents, les CGV prévaudront.
            </p>

            <h2>
                Article 22 – Durée
            </h2>

            <p>
                Les présentes CGV s’appliquent pendant toute la durée de mise en ligne des articles proposés par <b>L’ETIQUETTE</b>.
            </p>

            <h2>
                Article 23 – Droit applicable
            </h2>

            <p>
                Les présentes CGV sont régies par le droit français.<br/>
                En cas de litige concernant un produit, l’utilisateur s’adressera, préalablement à tout contentieux, à
                <b>L’ETIQUETTE</b> et au partenaire concerné afin de trouver une solution amiable.<br/>
                Tout litige auquel les CGV pourraient donner lieu sera porté devant les juridictions compétentes en
                application des règles de droit commun. Le tribunal compétent est celui du lieu du siège social de <b>L’ETIQUETTE</b>.

            </p>


        </div>
    </div>
</div>