<div (click)="scroll()" id="top_link" title="Revenir en haut de page" xmlns=""><span class="top_link_name">HAUT</span>
    <i class="fa fa-arrow-up" aria-hidden="true"></i>
</div>

<div class="contenu">
    <div class="global_width">
        <div class="footer">

            <h1 title="Cookies">Cookies</h1>


            <p>
                Un cookie est un petit fichier texte stocké sur votre ordinateur, mobile ou tablette lorsque vous
                consultez notre site. Vous n’avez pas besoin que les cookies soient activés pour visiter le site,
                mais
                l’accès à certains services comme par exemple votre Compte peut requérir l’emploi de cookies pour
                fonctionner correctement.<br/>
                Ces cookies nous permettent de faciliter et d’améliorer votre expérience sur notre site, comme par
                exemple vous reconnaître lorsque vous revenez sur le site. Les cookies nous fournissent des
                informations
                codées et ne permettent pas de vous identifier personnellement : ils reconnaissent seulement
                l’ordinateur utilisé. Grâce à eux vous bénéficiez d’une navigation la plus personnalisée possible.
                La
                durée de conservation des données relatives aux cookies est limitée à 13 mois.<br/>
                Si vous le souhaitez, vous pouvez désactiver la fonction « cookies » de votre navigateur.<br/>
                Pour plus d’informations à propos des cookies, vous pouvez consulter le site de la CNIL
                (www.cnil.fr).<br/>
                Chez <b>L’ETIQUETTE</b> nous utilisons des cookies nécessaires au bon fonctionnement du site :
            </p>

            <ul>
                <li>
                    PHPSESSID : identification ID
                </li>
                <li>Serveur : identification ID serveur

                </li>
            </ul>


            <p>
                Ainsi que des cookies pour améliorer votre expérience utilisateur et vous permettre de vous
                connecter
                plus rapidement lorsque vous visitez le site :
            </p>

            <ul>
                <li>
                    Pseudo : le pseudo que vous avez choisi
                </li>
                <li>
                    isConnected : afin de savoir si vous êtes déjà connecté
                </li>
            </ul>

            <p>Nous utilisons également les cookies fournis par Google, qui nous permettent par exemple de compter
                le
                nombre de pages visitées ou le nombre d’articles lus.</p>

        </div>
    </div>
</div>