<div (click)="scroll()" id="top_link" title="Revenir en haut de page" xmlns=""><span class="top_link_name">HAUT</span>
    <i class="fa fa-arrow-up" aria-hidden="true"></i>
</div>


<div class="contenu">
    <div class="global_width">
        <div class="footer">
            <h1 title="FAQ">FAQ</h1>

            <h2>Produits</h2>

            <h3>Comment sélectionnez-vous les marques avec lesquelles vous travaillez ?</h3>
            <p>
                Nous regardons d’abord le site internet de la marque. Si son discours nous semble cohérent, nous lui
                présentons <a routerLink="/nos_valeurs">nos critères de sélection éthiques</a>. Si la marque dit
                respecter tous ces critères, nous lui demandons alors de le justifier, par des certifications
                extérieures, des photos datées ou
                tout autre moyen jugé pertinent. Pour chaque signature de contrat avec une marque partenaire, ces
                justifications sont annexées au contrat qui régit nos relations.
            </p>

            <h3>Vos articles sont-ils vraiment éthiques ? </h3>
            <p>
                Les marques avec lesquelles nous travaillons défendent chacune des projets différents, qui peuvent avoir
                des résonnances différentes selon vos propres valeurs : vous avez
                tout à fait le droit de trouver un produit plus éthique qu’un autre selon votre propre perception. De
                notre côté, nous faisons tout ce qui est en notre pouvoir pour proposer des articles qui correspondent à
                <a routerLink="/nos_valeurs">nos valeurs</a>, en étant
                intransigeants lors de notre processus de sélection.
            </p>


            <h3>Existe-t-il aussi des boutiques et un catalogue papier L’Etiquette ? </h3>
            <p>
                Non : nous avons fait le choix de proposer uniquement une offre sur internet, pour l’instant au moins.
            </p>

            <h2>Livraison</h2>

            <h3>Où est ma commande ?</h3>
            <p>
                Les envois des colis sont exclusivement opérés par les marques partenaires de L’Etiquette. Lors de
                l’expédition de votre commande, vous recevrez un e-mail
                qui vous permettra de suivre votre colis.

            </p>

            <h3>Quand vais-je recevoir ma commande ?</h3>
            <p>
                Les envois des colis sont exclusivement opérés par les marques partenaires de L’Etiquette. Les délais de
                livraison peuvent varier d’une marque à l’autre, généralement dans un intervalle pouvant aller de 2
                jours à 6 semaines. Un délai prévisionnel plus précis vous sera donné pour
                chaque article lors du passage de votre commande. RETOURS Comment retourner un article qui ne me
                satisfait pas ? Les retours
                sont assurés par les marques partenaires de L’Etiquette. Si vous souhaitez retourner un article, nous
                vous invitons à remplir
                le <a routerLink="/contactez_nous">formulaire de retour</a> dans un délai de 14 jours après réception
                de votre article. Nous le transmettrons au partenaire concerné
                qui étudiera votre dossier et vous indiquera la marche à suivre.
            </p>


            <h3>Que puis-je faire si le vendeur refuse d’accepter un retour ?</h3>
            <p>
                Pour diverses raisons détaillées dans <a routerLink="/cgv">nos conditions générales de vente</a>, il se peut qu’un vendeur refuse
                un retour. Cela reste l’entière appréciation du vendeur et L’Etiquette ne peut malheureusement pas
                intervenir dans la décision finale du vendeur d’accepter ou non un retour.
            </p>

            <h3>J’ai retourné le produit mais le vendeur ne m’a pas remboursé</h3>
            <p>
                Chaque marque partenaire fonctionne d’une manière différente, aussi les délais de remboursement varient
                d’une marque à l’autre. Il est également possible que malgré le fait que vous ayez posté le colis, le produit ne soit pas encore
                parvenu au vendeur. Nous vous invitons à suivre votre envoi afin de vous assurer que le vendeur a bien reçu votre produit retourné. Si
                le vendeur a bien reçu le produit mais que vous n’avez toujours pas été remboursé, nous vous invitons à nous contacter via notre
                <a routerLink="/contactez_nous"> formulaire de contact.</a>
            </p>

            <h2>Commentaire</h2>

            <h3>Comment donner mon avis sur un produit reçu ? </h3>
            <p>
                Dans le souci d’améliorer continuellement notre service et de toujours viser votre pleine
                satisfaction, nous vous invitons à laisser un commentaire pour le ou les produits que vous aurez reçus.
                Vous pourrez le faire depuis votre <a routerLink="/esapce_client">espace client</a> ou en cliquant sur le lien que vous recevrez par e-mail
                après livraison de votre commande.
            </p>

            <h3>Puis-je modifier un avis que je donne ?</h3>
            <p>Les avis laissés sur notre site ne sont pas modifiables.</p>
        </div>

    </div>
</div>