<div id="bottom-page">
    <div class="bottom-bar">
        <div class="global_width_bottom">

            <div class="row">
                <div class="col-md-3">
                    <h1>Besoin d'aide ?</h1>
                    <ul>
                        <a routerLink="faq"><li>FAQ</li></a>
                        <a routerLink="livraison_retour"><li>Livraisons & retours</li></a>
                        <a routerLink="contactez_nous"><li>Contactez-nous</li></a>
                        <a routerLink="devenir_vendeur"><li>Devenir vendeur</li></a>
                    </ul>
                </div>

                <div class="col-md-3">
                    <h1>L'étiquette</h1>
                    <ul>
                        <a routerLink="lequipe"><li>L'équipe</li></a>
                        <a href="#"><li>Nos valeurs</li></a>
                        <a href="#"><li>Nos marques</li></a>
                        <a href="#"><li>Ils parlent de nous</li></a>
                        <a href="#"><li>Partenaires</li></a>
                    </ul>
                </div>

                <div class="col-md-3">
                    <h1>Mentions</h1>
                    <ul>
                        <a href="#"><li>Conditions générales de ventes</li></a>
                        <a href="#"><li>Mentions légales</li></a>
                        <a href="#"><li>Cookies</li></a>
                        <a href="#"><li>Paiements sécurisés</li></a>
                    </ul>
                </div>
         
                <div class="col-md-3">
                    <h1>Suivez-nous</h1>
                    <div class="icon_social">
                        <a href="#"><img src="assets/icones/facebook.png"></a>
                        <a href="#"><img src="assets/icones/instagram.png"></a>
                        <a href="#"><img src="assets/icones/twitter.png"></a>
                    </div>
                        
                </div>
            </div>
        </div>
    </div>

    <div class="icon_social-responsive">
        <a href="#"><img src="assets/icones/facebook.png"></a>
        <a href="#"><img src="assets/icones/instagram.png"></a>
        <a href="#"><img src="assets/icones/twitter.png"></a>
    </div>


    <div class="bottom-copyright">
        <div class="global_width_bottom">
                Copyright© 2017 L'étiquette
        </div>
    </div>

</div>