<div id="bottom-page">
    <div class="bottom-bar">
        <div class="global_width_bottom">

            <div class="row">
                <div class="col-md-3">
                    <h1>Besoin d'aide ?</h1>
                    <ul>
                        <li><a routerLink="faq">FAQ</a></li>
                        <li><a routerLink="livraison_retour">Livraisons & retours</a></li>
                        <li><a routerLink="contactez_nous">Contactez-nous</a></li>
                        <li> <a routerLink="devenir_vendeur">Devenir vendeur</a></li>
                    </ul>
                </div>

                <div class="col-md-3">
                    <h1>L'étiquette</h1>
                    <ul>
                        <li><a routerLink="/lequipe">L'équipe</a></li>
                        <li><a routerLink="/nos_valeurs">Nos valeurs</a></li>
                        <li><a href="#">Nos marques</a></li>
                        <li><a href="#">Ils parlent de nous</a></li>
                        <li><a href="#">Partenaires</a></li>
                    </ul>
                </div>

                <div class="col-md-3">
                    <h1>Mentions</h1>
                    <ul>
                        <li><a routerLink="/cgv">CGV</a> / <a routerLink="/cgu">CGU</a></li>
                        <li><a routerLink="/mentions_legales">Mentions légales</a></li>
                        <li><a routerLink="/cookies">Cookies</a></li>
                        <li><a routerLink="/paiements_securises">Paiements sécurisés</a></li>
                    </ul>
                </div>
         
                <div class="col-md-3">
                    <h1>Suivez-nous</h1>
                    <div class="icon_social">
                        <a href="#"><img src="assets/icones/facebook.png"></a>
                        <a href="#"><img src="assets/icones/instagram.png"></a>
                        <a href="#"><img src="assets/icones/twitter.png"></a>
                    </div>
                        
                </div>
            </div>
        </div>
    </div>

    <div class="icon_social-responsive">
        <a href="#"><img src="assets/icones/facebook.png"></a>
        <a href="#"><img src="assets/icones/instagram.png"></a>
        <a href="#"><img src="assets/icones/twitter.png"></a>
    </div>


    <div class="bottom-copyright">
        <div class="global_width_bottom">
                Copyright© 2017 L'étiquette
        </div>
    </div>

</div>