<div (click)="scroll()" id="top_link" title="Revenir en haut de page" xmlns=""><span class="top_link_name">HAUT</span>
    <i class="fa fa-arrow-up" aria-hidden="true"></i>
</div>

<div class="contenu">
    <div class="global_width">
        <div class="footer" id="lequipe">
            <h1 title="L'équipe">L'équipe</h1>
            <p>
                L’Etiquette, c’est un projet né début 2017 dans une chambre étudiante. Aujourd’hui c’est une équipe de
                deux personnes qui oeuvrent tous les jours pour une mode plus durable, plus responsable. Leur but ?
                Montrer que la mode éthique est, justement, à la mode, pleine de nouvelles opportunités et accessible à
                tous pour se faire plaisir.
            </p>

            <div class="row">
                <div class="col-md-6 col-12">
                    <div class="lequipe">
                        <div class="lequipe_image">
                            <img src="assets/img_equipe/justine_letiquette.png" alt="L'étiquette, Justine" width="200"
                                 height="200">
                        </div>

                        <div class="lequipe_contenu">
                            <div class="lequipe_titre">
                                Justine
                            </div>

                            <div class="lequipe_description">
                                Au terme de son école de commerce NEOMA Business School, Justine décide d’exploiter sa
                                formation entrepreneuriale en travaillant sur un projet qui mêle deux de ses passions :
                                l’industrie de la mode et la responsabilité en entreprise.

                            </div>
                        </div>
                    </div>

                </div>
                <div class="col-md-6 col-12">

                    <div class="lequipe">
                        <div class="lequipe_image">
                            <img src="assets/img_equipe/eloise_letiquette.png" alt="L'étiquette, Eloïse" width="200"
                                 height="200">

                        </div>
                        <div class="lequipe_contenu">
                            <div class="lequipe_titre">
                                Eloïse
                            </div>

                            <div class="lequipe_description">
                                A l’issue de sa formation en école d’ingénieur à l’ISIMA, Eloïse
                                décide de mettre ses compétences en développement web au profit d’un projet qui lui
                                tient à
                                cœur et qui a du sens pour elle.
                            </div>
                        </div>
                    </div>
                </div>


            </div>


        </div>
    </div>
</div>