<div (click)="scroll()" id="top_link" title="Revenir en haut de page" xmlns=""><span class="top_link_name">HAUT</span>
    <i class="fa fa-arrow-up" aria-hidden="true"></i>
</div>


<div class="contenu">
    <div class="global_width">
        <div class="footer">

            <h1 title="Livraisons et retours">Livraisons et retours</h1>

            <h2>Commande</h2>
            <p>
                Vous pouvez remplir votre <a routerLink="/panier">panier</a> et votre <a routerLink="/wishlist">wishlist</a> comme bon vous semble sans que cela ne consiste en
                une commande. La commande ne sera actée que si vous acceptez <a routerLink="cgv">les conditions générales de ventes</a> de
                L’Etiquette et que votre paiement est validé. Un e-mail de confirmation vous sera envoyé à la fin de
                chaque commande.
            </p>

            <h2>Paiement sécurisé</h2>
            <p>L’Etiquette prend très au sérieux la protection des données de ses clients. Les paiements sont sécurisés
                et gérés par PayGreen.<br/>
                A aucun moment les données bancaires ne transitent par le système informatique de L’Etiquette.
            </p>

            <h2>Livraison de la commande</h2>
            <p>La livraison est gratuite dès 70€ d’achats.<br/>
                Les envois des colis sont exclusivement opérés par les marques partenaires de L’Etiquette. A aucun
                moment les colis ne transitent par L’Etiquette. C’est pour cette raison que, si vous commandez des
                produits provenant de différentes marques, vous recevrez vos produits dans des emballages différents.<br/>
                Les délais de livraison peuvent varier d’une marque à l’autre, généralement dans un intervalle pouvant
                aller de 2 jours à 6 semaines. Un délai prévisionnel plus précis vous sera donné pour chaque article
                lors du passage de votre commande.
            </p>

            <h2>Réception du produit</h2>
            <p>Dans le souci d’améliorer continuellement notre service et de toujours viser votre pleine satisfaction,
                nous vous invitons à laisser un commentaire pour le ou les produits que vous aurez reçus. Vous pourrez
                le faire depuis votre  <a routerLink="/esapce_client">espace client</a> ou en cliquant sur le lien que vous recevrez par e-mail après
                livraison de votre commande.
            </p>

            <h2>Retour du produit</h2>
            <p>De la même façon que les livraisons, les retours sont assurés par les marques partenaires de L’Etiquette.
                Si vous souhaitez retourner un article, nous vous invitons à remplir le <a routerLink="/formulaire_retour">formulaire de retour</a> dans un
                délai de 14 jours après réception de votre article. Nous le transmettrons au partenaire concerné qui
                étudiera votre dossier et vous indiquera la marche à suivre.<br/>
                Les retours sont à la charge de la marque partenaire concernée.<br/>
                Pour toute question supplémentaire merci de vous référer à notre <a routerLink="/faq">FAQ</a> ou à nos <a routerLink="/cgv">CGV </a> / <a routerLink="/cgu">CGU</a>. Vous pouvez
                également nous contacter via notre <a routerLink="/contactez_nous">formulaire de contact</a>.

            </p>


        </div>
    </div>
</div>