<div (click)="scroll()" id="top_link" title="Revenir en haut de page" xmlns=""><span class="top_link_name">HAUT</span>
    <i class="fa fa-arrow-up" aria-hidden="true"></i>
</div>


<div class="contenu">
    <div class="global_width">
        <div class="footer">

            <h1 title="Mentions légales">Mentions légales</h1>

            <p>
                En vertu de la loi n°2004-575 du 21 juin 2004 pour la confiance dans l’économie numérique, il est précisé
                aux utilisateurs du site les éléments suivants : <br/><br/>
                <b>Raison sociale :</b> L’ETIQUETTE<br/>
                <b>Forme juridique :</b> société par actions simplifiée (SAS)<br/>
                <b>Adresse du siège social :</b> 34 rue Raymond Aron – PAT de la Vatine - 76130 Mont Saint Aignan<br/>
                <b>Montant du capital social :</b> 6 000 €<br/>
                <b>Adresse mail :</b> contact@letiquette-shop.com<br/>
                <b>Numéro de téléphone :</b> +33 (0) 6 58 35 27 18<br />
                <b>Numéro d’inscription au RCS  :</b> 834 935 991<br />
                <b>Numéro de TVA intracommunautaire :</b> en cours d’attribution

            </p>

            <p> <b>Nom du directeur de la publication :</b> Justine Abécassis</p>
            <p style="margin-bottom:0;">
                <b>Hébergeur :</b><br />
                OVH (SAS) <br />
                2 rue Kellermann - 59100 Roubaix - France<br />
                Numéro de téléphone : +33 9 72 10 10 07

            </p>

        </div>
    </div>
</div>