<div class="contenu">
    <div class="global_width">
        <div class="footer" id="nos_valeurs">

            <h1 title="Nos valeurs">Nos valeurs</h1>
            <div class="nos_valeurs_texte">
               Les discours sur l’éthique sont très présents dans l’actualité, notamment en ce qui concerne
                    l’alimentation. Ils le sont beaucoup moins lorsque l’on parle de mode, alors que nous sommes
                    également à la veille d’un tournant dans ce domaine. C’est une réflexion qui va transformer le
                    secteur en profondeur : c’est à présent à notre tour d’y apporter notre contribution.
               <br/>
               <br/>
                    Vous trouverez ci-dessous les valeurs que nous défendons lors de la sélection des marques
                    avec
                    lesquelles nous

            </div>
            <div class="row">
                <div class="col-md-6 col-12">
                    <div class="nos_valeurs">
                        <div class="nos_valeurs_image">
                            <img src="assets/img_valeurs/social_solidaire.jpg" width="300" height="200">
                        </div>

                        <div class="nos_valeurs_contenu">
                            <div class="nos_valeurs_titre">
                                Social & solidaire
                            </div>

                            <div class="nos_valeurs_description">
                                Nous réfutons les discours culpabilisateurs qui voudraient nous faire croire que notre
                                comportement individuel est immoral dès que nous faisons du shopping. C’est pourquoi
                                nous soutenons les
                                marques qui proposent d’acheter de manière solidaire. Cela peut passer par des
                                initiatives comme « pour
                                un produit acheté, un produit donné à une personne dans le besoin » ou « une partie du
                                prix d’achat
                                de chaque produit sera utilisée pour financer un projet solidaire ».

                            </div>
                        </div>
                    </div>

                </div>
                <div class="col-md-6 col-12">
                    <div class="nos_valeurs">
                        <div class="nos_valeurs_image">
                            <img src="assets/img_valeurs/lutte_contre_discrimination.png" width="300" height="200">
                        </div>

                        <div class="nos_valeurs_contenu">
                            <div class="nos_valeurs_titre">
                                Lutte contre les discriminations
                            </div>

                            <div class="nos_valeurs_description">
                                Avec les moyens dont nous disposons, nous nous efforçons de promouvoir l’égalité des
                                genres, la
                                diversité des morphologies et la multiculturalité. C’est pourquoi nous avons choisi de
                                vous
                                proposer une rubrique « enfants » unique non différenciée pour les filles et les
                                garçons, ainsi
                                que de mettre en ligne le plus de photos possibles où les modèles ne sont pas
                                retouché(e)s, par
                                exemple.
                            </div>
                        </div>
                    </div>

                </div>


                <div class="col-md-6 col-12">
                    <div class="nos_valeurs">
                        <div class="nos_valeurs_image">
                            <img src="assets/img_valeurs/coton_bio.jpg" width="300"
                                 height="200">
                        </div>

                        <div class="nos_valeurs_contenu">
                            <div class="nos_valeurs_titre">
                                Utilisation de matières écologiques
                            </div>

                            <div class="nos_valeurs_description">
                                Il existe aujourd’hui un grand nombre d’alternatives aux matières traditionnellement
                                utilisées
                                dans la fabrication de produits de la mode. Nous souhaitons vous les présenter en
                                travaillant avec
                                des marques qui utilisent des fibres produites sans pesticides, éventuellement
                                labellisées ou issues
                                du recyclage.
                            </div>
                        </div>
                    </div>

                </div>


                <div class="col-md-6 col-12">
                    <div class="nos_valeurs">
                        <div class="nos_valeurs_image">
                            <img src="assets/img_valeurs/protection_environement.jpg" width="300"
                                 height="200">
                        </div>

                        <div class="nos_valeurs_contenu">
                            <div class="nos_valeurs_titre">
                                Protection de l'environnement
                            </div>

                            <div class="nos_valeurs_description">
                                Réduire son impact négatif sur la planète, c’est bien. Avoir un impact positif par ses
                                actions,
                                c’est encore mieux. Nous valorisons donc les marques qui, en plus de travailler avec des
                                matières respectueuses de l’environnement, mettent en place des actions concrètes de
                                manière à avoir un
                                impact positif sur le monde qui nous entoure.
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-12">
                    <div class="nos_valeurs">
                        <div class="nos_valeurs_image">
                            <img src="assets/img_valeurs/respect_annimaux.jpg" width="300"
                                 height="200">
                        </div>

                        <div class="nos_valeurs_contenu">
                            <div class="nos_valeurs_titre">
                                Respect des animaux
                            </div>

                            <div class="nos_valeurs_description">
                                L’élevage et les produits animaliers ont accompagné toute l’histoire humaine. Mais nous
                                sommes
                                aujourd’hui à un tournant : nous pensons qu’un changement de pratiques est nécessaire
                                dans la
                                façon dont nous traitons les animaux, qui sont des êtres vivants. Nous entendons mener
                                une réflexion
                                poussée sur la place des composants animaux dans la manière dont nous nous habillons,
                                mais dans
                                l’état actuel des choses, nous souhaiterions valoriser l’offre existante de vêtements,
                                chaussures et accessoires sans matière d’origine animale.
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 col-12">
                    <div class="nos_valeurs">
                        <div class="nos_valeurs_image">
                            <img src="assets/img_valeurs/made_in_local.jpg" width="300"
                                 height="200">
                        </div>

                        <div class="nos_valeurs_contenu">
                            <div class="nos_valeurs_titre">
                                Productions locales
                            </div>

                            <div class="nos_valeurs_description">
                                Les productions locales permettent de réduire les émissions liées au transport des
                                produits,
                                ainsi que de préserver les emplois sur le territoire national. Nous soutenons donc
                                les marques dont la
                                production est située en France.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="nos_valeurs_texte">
                    Les marques partenaires de L’Etiquette ont été choisies parce qu’elles sont porteuses d’une
                    réflexion sur ces valeurs que nous défendons. Par ailleurs, lors de la signature de leur
                    contrat, elles se sont engagées à justifier que les principes suivant soient respectés, par elles
                    comme par leurs fournisseurs, à chaque étape du processus de production.

            </div>
            <div class="row">
                <div class="col-md-6 col-12">
                    <div class="nos_valeurs">
                        <div class="nos_valeurs_image">
                            <img src="assets/img_valeurs/securite_travailleurs.jpg" width="300"
                                 height="200">
                        </div>

                        <div class="nos_valeurs_contenu">
                            <div class="nos_valeurs_titre">
                                Sécurité des travailleurs
                            </div>

                            <div class="nos_valeurs_description">
                                Les entreprises doivent assurer la sécurité des travailleurs. Cela ne passe pas
                                seulement par la
                                mise en place de consignes de sécurité mais par la sécurisation physique du lieu de
                                travail ; la
                                disponibilité et l’utilisation du matériel de protection adéquat, notamment en cas
                                d’utilisation
                                de produits dangereux ; le respect d’un équilibre vie privée/vie professionnelle.
                            </div>
                        </div>
                    </div>
                </div>


                <div class="col-md-6 col-12">
                    <div class="nos_valeurs">
                        <div class="nos_valeurs_image">
                            <img src="assets/img_valeurs/non_travail_enfants.jpg" width="300"
                                 height="200">
                        </div>

                        <div class="nos_valeurs_contenu">
                            <div class="nos_valeurs_titre">
                                Non recours au travail d’enfants
                            </div>

                            <div class="nos_valeurs_description">
                                Les entreprises doivent assurer la sécurité des travailleurs. Cela ne passe pa
                                Les entreprises doivent s’assurer du respect des législations locales en matière d’âge
                                légal
                                minimum de travail, quels que soient les pays impliqués dans le processus de production.
                                En cas
                                d’absence de législation locale sur le travail des enfants, les entreprises doivent se
                                référer au
                                <a href="https://www.service-public.fr/particuliers/vosdroits/F1649" target="_blank">
                                    droit français</a>
                                et s’engagent à ne pas faire appel à
                                des enfants de moins de 16 ans à un quelconque niveau du processus de production et de
                                demander
                                l’accord du tuteur légal s’il s’agit d’un mineur de moins de 18 ans.
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-6 col-12">
                    <div class="nos_valeurs">
                        <div class="nos_valeurs_image">
                            <img src="assets/img_valeurs/durabilite.jpg" width="300"
                                 height="200">
                        </div>

                        <div class="nos_valeurs_contenu">
                            <div class="nos_valeurs_titre">
                                Durabilité des produits
                            </div>

                            <div class="nos_valeurs_description">
                                « Tiens, j’ai mis mon t-shirt à laver la dernière fois et il s’est complètement déformé
                                !
                                Pourtant, ça ne fait que trois mois que je l’ai… » Ces mots vous sont familiers ? Oui,
                                l’obsolescence programmée est également présente dans l’industrie de la mode : c’est ce
                                qu’on appelle plus communément la fast fashion ou la mode jetable. Pour lutter contre ce
                                phénomène, nous demandons à nos marques partenaires de veiller à la qualité de leurs
                                produits, de manière à ce qu’ils restent durent longtemps dans des conditions normales
                                d’utilisation.
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>