<div class="contenu">
    <div class="global_width">

        <form #membreForm="ngForm" (ngSubmit)="connexion(membreForm)">


            <div class="form-group">
                <label for="username">Email <span class="required">*</span></label>
                <input id="username" class="form-control" #username type="text"
                       ngModel name="username" required/>
            </div>

            <div class="form-group">
                <label for="password">Mot de passe <span class="required">*</span></label>
                <input id="password" class="form-control" #password type="text"
                       ngModel name="password" required/>
            </div>

            <button type="submit" [disabled]="!membreForm.form.valid">Envoyer</button>
        </form>
    </div>
</div>