<div class="contenu">
    <div class="global_width">

        <form #membreForm="ngForm" (ngSubmit)="creerMembre(membreForm)">
            <div class="form-group">
                <label for="civilite">Civilité <span class="required">*</span>
                    <select id="civilite" class="form-control" #civilite name="civilite" [ngModel]="civilite"
                            required>
                        <option selected>Veuillez sélectionner</option>
                        <option>M.</option>
                        <option>Mme.</option>
                        <option>Autre</option>
                    </select>
                </label>
            </div>

            <div class="form-group">
                <label for="nom">Nom <span class="required">*</span></label>
                <input id="nom" class="form-control" #nom type="text"
                       ngModel name="nom" required/>
            </div>

            <div class="form-group">
                <label for="prenom">Prénom <span class="required">*</span></label>
                <input id="prenom" class="form-control" #prenom type="text"
                       ngModel name="prenom" required/>
            </div>


            <div class="form-group">
                <label for="email">Email <span class="required">*</span></label>
                <input id="email" class="form-control" #email type="email" ngModel name="email"
                       pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$" required/>

            </div>

            <div class="form-group">
                <label for="password">Mot de passe</label>
                <input type="text" class="form-control" #password
                       id="password" required ngModel name="password">
            </div>

            <div class="form-group">
                <label for="password_verif">Mot de passe</label>
                <input type="text" class="form-control" #password_verif
                       id="password_verif" required ngModel name="password_verif">
            </div>


            <div class="form-group">
                <label for="telephone">Numéro de téléphone <span class="required">*</span></label>
                <input id="telephone" class="form-control" #telephone type="tel" ngModel name="telephone"
                       pattern="^((\+\d{1,3}(-| )?\(?\d\)?(-| )?\d{1,5})|(\(?\d{2,6}\)?))(-| )?(\d{3,4})(-| )?(\d{4})(( x| ext)\d{1,5}){0,1}$"
                       required/>
            </div>
            <div class="form-group">
                <label for="adresse">Adresse</label>
                <input type="text" class="form-control" #adresse
                       id="adresse" required ngModel name="adresse">
            </div>
            <!--<div class="form-group">-->
            <!--<label for="ville">Ville</label>-->
            <!--<select class="form-control" id="ville" required [(ngModel)]="ville" name="ville">-->
            <!--<option value="">Choisissez une ville</option>-->
            <!--<option *ngFor="let ville of villesList"-->
            <!--[value]="ville.id">-->
            <!--{{ville.name}}-->
            <!--</option>-->
            <!--</select>-->
            <!--</div>-->


            <div class="form-group">
                <label for="code_postal">Code Postal</label>
                <input type="text" class="form-control" #code_postal
                       id="code_postal" required ngModel name="code_postal">
            </div>


            <div class="form-group">
                <label for="ville">Ville</label>
                <input type="text" class="form-control" #ville
                       id="ville" required ngModel name="ville">
            </div>

            <div class="form-group">
                <label for="pays">Pays</label>
                <input type="text" class="form-control" #pays
                       id="pays" required ngModel name="pays">
            </div>


            <button type="submit">Envoyer</button>
            <!--<button type="submit" [disabled]="!membreForm.form.valid">Envoyer</button>-->
        </form>
    </div>
</div>