<div id="top-barre">
    <div id="top-page">
        <div class="container">
            <div class="row">

                <div id="top-icon">
                    <span class="fa fa-bars" aria-hidden="true"></span>
                </div>


                <div class="col-sm-4 col-xs-4 logo">
                    <a routerLink="/accueil" routerLinkActive="active"><img src="assets/logo.png"/></a>
                </div>
                <div class="col-sm-4 col-xs-4 logo-min">
                    <a routerLink="/accueil" routerLinkActive="active"><img src="assets/Miniature.png"/></a>
                </div>
                <div class="col-sm-4 col-xs-4" id="searchBox">
                    <label class="searchLabel">
                        <input type="text" id="searchInput" placeholder="Rechercher">
                        <span class="fa fa-search"></span>
                    </label>
                </div>
                <div class="col-sm-4 col-xs-4 right-top-all">
                    <span class="smallSearchBox" id="right-top"><a href="#"><i class="fa fa-search cercle"
                                                                               aria-hidden="true"></i>  <span
                            class="top-name"> Search </span></a></span>

                    <span *ngIf="!hasAuthToken()" id="right-top"><a [routerLink]="['login']"><i
                            class="fa fa-user"
                            aria-hidden="true"></i>  <span class="top-name">  Connexion </span></a> </span>

                    <div *ngIf="hasAuthToken()" id="right-top" class="dropdown" (click)="dropdown()">
                        <a class="dropbtn">
                            <span class="fa fa-user dropbtn" aria-hidden="true">
                            </span> {{membre_nom}}
                            <span class="fa fa-caret-down dropbtn" aria-hidden="true">
                            </span>
                        </a>

                        <div id="myDropdown" class="dropdown-content">
                            <a href="#">Mon compte</a>
                            <a (click)="logout()">Déconnexion</a>
                        </div>
                    </div>
                    <!--<span *ngIf="hasAuthToken()" id="right-top"><a (click)="logout()" href="#"><i class="fa fa-user cercle"-->
                    <!--aria-hidden="true"></i> Déconnexion</a> </span>-->
                    <!--<span id="right-top"><a href="#"><i class="fa fa-user cercle"-->
                    <!--aria-hidden="true"></i> Compte</a></span>-->
                    <span id="right-top"><a [routerLink]="['panier']"><i class="fa fa-shopping-bag"
                                                                         aria-hidden="true"></i> <span class="top-name">Panier</span></a></span>
                    <span id="right-top"><a href="#"><i class="fa fa-heart" aria-hidden="true"></i> <span
                            class="top-name"> Wishlist </span></a></span>
                </div>
            </div>

            <div class="row">
                <div class="col-12" id="smallSearch">

                    <label class="searchLabel" for="searchInput">
                        <input type="text" name="search" id="searchInput" placeholder="Rechercher">
                        <span class="fa fa-search" onclick="navbarSearchSmall()"></span>
                    </label>

                </div>
            </div>

        </div>
    </div>

    <nav class="menu" id="menu">
        <div class="menu-item">
            <div class="familleGName">
                <a routerLink="/produits/femmes" routerLinkActive="active"
                   (mouseover)="reinitFamilleGlobal()">FEMMES</a>
            </div>
            <div class="menu-dropdown femme">
                <div class="menu-dropdown-familleglobale">
                    <ul *ngFor="let familleGlobal of familleGlobalList" class="menu-item-5"
                        [ngClass]="familleGlobal.id == 5 ? 'nonVisible' : 'visible'">

                        <li class="famille_global" *ngIf="familleGlobal.id != 5">
                            <a [routerLink]="['/produits/femmes', 'FG-' + familleGlobal.id + '-' + familleGlobal.famille_global]"
                               routerLinkActive="active">
                                <span class="menu-famille" (click)="afficherFamilleF(familleGlobal)"
                                      [ngClass]="familleGlobal.checked ? 'familleGActive' : 'familleGNonActive'">
                                    <img src="assets/icones_navbar/icone_{{familleGlobal.id}}_F.png">
                                    <span class="familleg-name">{{familleGlobal.famille_global}}</span>
                                </span>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="menu-dropdown-famille">
                    <a [routerLink]="['/produits/femmes', 'FG-' + tousFg +'-' + tousFamillesGlobal[tousFg -1] ]"
                       routerLinkActive="active">
                        {{tousFamillesGlobal[tousFg -1]}}
                    </a>
                    <ul *ngFor="let famille of famillesList">
                        <li>
                            <a [routerLink]="['/produits/femmes', 'F-' + famille.id + '-' + famille.famille]"
                               routerLinkActive="active">
                            <span  class="famille-name">
                                {{famille.famille}}
                            </span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="menu-item">

            <div class="familleGName">
                <a routerLink="/produits/hommes" routerLinkActive="active"
                   (mouseover)="reinitFamilleGlobal()">HOMMES</a>
            </div>
            <div class="menu-dropdown homme">
                <div class="menu-dropdown-familleglobale">
                    <ul *ngFor="let familleGlobal of familleGlobalList" class="menu-item-5"
                        [ngClass]="familleGlobal.id == 4 ? 'nonVisible' : 'visible'">
                        <li class="famille_global" *ngIf="familleGlobal.id != 4">
                            <a [routerLink]="['/produits/hommes', 'FG-' + familleGlobal.id + '-' + familleGlobal.famille_global ]"
                               routerLinkActive="active">
                                <span class="menu-famille" (click)="afficherFamilleH(familleGlobal)"
                                      [ngClass]="familleGlobal.checked ? 'familleGActive' : 'familleGNonActive'">
                                    <img src="assets/icones_navbar/icone_{{familleGlobal.id}}_H.png">
                                    <span class="familleg-name">{{familleGlobal.famille_global}}</span>
                                </span>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="menu-dropdown-famille">
                    <a [routerLink]="['/produits/hommes', 'FG-' + tousFg +'-' + tousFamillesGlobal[tousFg -1] ]"
                       routerLinkActive="active">
                        {{tousFamillesGlobal[tousFg -1]}}
                    </a>

                    <ul *ngFor="let famille of famillesList">
                        <li>
                            <a [routerLink]="['/produits/hommes', 'F-' + famille.id + '-' + famille.famille ]"
                               routerLinkActive="active">
                                <span  class="famille-name">
                                    {{famille.famille}}
                                </span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="menu-item"><a href="#">ENFANTS</a></div>
        <div class="menu-item"><a href="#">COSMÉTIQUES</a></div>
        <div class="menu-item"><a href="#">BLOG</a></div>
    </nav>

</div>

<div id="top-page-scroll">
    <div class="container">
        <div class="row">

            <div class="col-sm-1">
                <a routerLink="/accueil" routerLinkActive="active"><img src="assets/logo.png"/></a>
            </div>

            <div class="col-sm-2 categorie-item">
                <a routerLink="/produits/femmes" routerLinkActive="active">FEMMES</a>


                <div class="menu-dropdown femme">
                    <div class="menu-dropdown-familleglobale">
                        <ul *ngFor="let familleGlobal of familleGlobalList" class="menu-item-5"
                            [ngClass]="familleGlobal.id == 5 ? 'nonVisible' : 'visible'">

                            <li class="famille_global" *ngIf="familleGlobal.id != 5">
                                <a [routerLink]="['/produits/femmes', 'FG-' + familleGlobal.id + '-' + familleGlobal.famille_global]"
                                   routerLinkActive="active">
                                <span class="menu-famille" (click)="afficherFamilleF(familleGlobal)"
                                      [ngClass]="familleGlobal.checked ? 'familleGActive' : 'familleGNonActive'">
                                    <img src="assets/icones_navbar/icone_{{familleGlobal.id}}_F.png">
                                    <span class="familleg-name">{{familleGlobal.famille_global}}</span>
                                </span>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="menu-dropdown-famille">
                        <a [routerLink]="['/produits/femmes', 'FG-' + tousFg +'-' + tousFamillesGlobal[tousFg -1] ]"
                           routerLinkActive="active">
                            {{tousFamillesGlobal[tousFg -1]}}
                        </a>
                        <ul *ngFor="let famille of famillesList">
                            <li>
                                <a [routerLink]="['/produits/femmes', 'F-' + famille.id + '-' + famille.famille]"
                                   routerLinkActive="active">
                            <span>
                                {{famille.famille}}
                            </span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>


            </div>

            <div class="col-sm-2 categorie-item">
                <a href="#">HOMMES</a>

                <div class="menu-dropdown homme">
                    <div class="menu-dropdown-familleglobale">
                        <ul *ngFor="let familleGlobal of familleGlobalList" class="menu-item-5"
                            [ngClass]="familleGlobal.id == 4 ? 'nonVisible' : 'visible'">

                            <li class="famille_global" *ngIf="familleGlobal.id != 4">
                                <a [routerLink]="['/produits/hommes', 'FG-' + familleGlobal.id + '-' + familleGlobal.famille_global]"
                                   routerLinkActive="active">
                                <span class="menu-famille" (click)="afficherFamilleH(familleGlobal)"
                                      [ngClass]="familleGlobal.checked ? 'familleGActive' : 'familleGNonActive'">
                                    <img src="assets/icones_navbar/icone_{{familleGlobal.id}}_H.png">
                                    <span class="familleg-name">{{familleGlobal.famille_global}}</span>
                                </span>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="menu-dropdown-famille">
                        <a [routerLink]="['/produits/hommes', 'FG-' + tousFg +'-' + tousFamillesGlobal[tousFg -1] ]"
                           routerLinkActive="active">
                            {{tousFamillesGlobal[tousFg -1]}}
                        </a>
                        <ul *ngFor="let famille of famillesList">
                            <li>
                                <a [routerLink]="['/produits/hommes', 'F-' + famille.id + '-' + famille.famille]"
                                   routerLinkActive="active">
                            <span>
                                {{famille.famille}}
                            </span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>

            </div>

            <div class="col-sm-2 categorie-item">
                <a href="#">ENFANTS</a>
            </div>

            <div class="col-sm-2 categorie-item">
                <a href="#">COSMÉTIQUES</a>
            </div>

            <div class="col-sm-1 categorie-item">
                <a href="#">BLOG</a>
            </div>

            <div class="col-sm-2" id="right-top">
                <span class="fa fa-search" aria-hidden="true"></span>
                <span class="fa fa-user" aria-hidden="true"></span>
                <span class="fa fa-shopping-bag" aria-hidden="true"></span>
                <span class="fa fa-heart" aria-hidden="true"></span>
            </div>

        </div>
    </div>
</div>