<div id="top-barre">
    <div id="top-page">
        <div class="container">
            <div class="row">

                <div class="col-sm-1 col-xs-1" id="top-icon">
                    <span class="fa fa-bars" aria-hidden="true"></span>
                </div>


                <div class="col-sm-3 col-xs-3 logo">
                    <a routerLink="/accueil" routerLinkActive="active"><img src="assets/logo.png"/></a>
                </div>
                <div class="col-sm-4 col-xs-4" id="searchBox">
                    <label id="searchLabel"> 
                        <input type="text" id="searchInput" placeholder="Rechercher"> 
                        <span class="fa fa-search"></span> 
                    </label>
                </div>
                <div class="col-sm-4 col-xs-4 right-top-all">
                    <span class="smallSearchBox" id="right-top"><a href="#"><i class="fa fa-search cercle" aria-hidden="true"></i> Search</a></span>
                    <span id="right-top"><a href="#"><i class="fa fa-user cercle" aria-hidden="true"></i> Compte</a></span>
                    <span id="right-top"><a href="#"><i class="fa fa-shopping-basket cercle " aria-hidden="true"></i> Panier</a></span>
                    <span id="right-top"><a href="#"><i class="fa fa-heart cercle" aria-hidden="true"></i> Wishlist</a></span>
                </div>
            </div>
        </div>
    </div>

<nav class="menu" id="menu">
    <div class="menu-item"><a routerLink="/produitsFemmes" routerLinkActive="active">FEMMES</a></div>
    <div class="menu-item"><a href="#">HOMMES</a></div>
    <div class="menu-item"><a href="#">ENFANTS</a></div>
    <div class="menu-item"><a href="#">NOS MARQUES</a></div>
    <div class="menu-item"><a href="#">BLOG</a></div>
</nav>

</div>

<div id="top-page-scroll">
    <div class="container">
        <div class="row">

            <div class="col-sm-1">
                <a routerLink="/accueil" routerLinkActive="active"><img src="assets/logo.png"/></a>
            </div>

            <div class="col-sm-2" id="categorie-item">
                <a routerLink="/produitsFemmes" routerLinkActive="active">FEMMES</a>
            </div>

            <div class="col-sm-2" id="categorie-item">
                <a href="#">HOMMES</a>
            </div>

            <div class="col-sm-2" id="categorie-item">
                <a href="#">ENFANTS</a>
            </div>

            <div class="col-sm-2" id="categorie-item">
                <a href="#">NOS MARQUES</a>
            </div>

            <div class="col-sm-1" id="categorie-item">
                <a href="#">BLOG</a>
            </div>

            <div class="col-sm-2" id="right-top">
                <span class="fa fa-search cercle" aria-hidden="true"></span>
                <span class="fa fa-user cercle" aria-hidden="true"></span>
                <span class="fa fa-shopping-basket cercle" aria-hidden="true"></span>
                <span class="fa fa-heart cercle" aria-hidden="true"></span>
            </div>

        </div>
    </div>
</div>