<div class="contenu">
    <div class="global_width">
        <h1>
            {{view}}
        </h1>
        <div class="row">
            <div class="col-2">
                <div id="products_filtres">
                    <h2>
                        <span (click)="getAllProduitsFemmes()">Tous les produits</span>
                    </h2>

                    <div class="famille">
                        <ul *ngFor="let famille of famillesList">
                            <li>
                                <span (click)="filterFamille(famille)">{{famille.famille}}</span>
                            </li>
                            <li>
                        </ul>

                    </div>

                </div>

            </div>
            <div class="col-10">
                <div id="filtres">
                    <h2>Filtres</h2>
                    <div class="row">
                        <div class="col-3">
                            <h3>Tailles</h3>
                            <ul *ngFor="let taille of tailleTypeList">
                                <li>
                                    <span (click)=filterTaille(taille)>{{taille.taille}}</span>
                                </li>
                            </ul>
                        </div>
                        <div class="col-3">
                            <h3>Prix</h3>
                            <section class="range-slider">
                                    <span class="rangeValues"></span>
                                    <input value="500" min="500" max="50000" step="500" type="range">
                                    <input value="50000" min="500" max="50000" step="500" type="range">
                                  </section>
                        </div>
                        <div class="col-3">
                            <h3>Marques</h3>
                            <ul *ngFor="let marque of produitsList | uniqueFournisseur">
                                <li>
                                    <span (click)=filterMarque(marque.fournisseurID)>{{marque.fournisseur}}</span>
                                </li>
                            </ul>
                        </div>
                        <div class="col-3">
                            <h3>Couleurs</h3>
                        </div>
                        <div class="col-3">
                            <h3>Matières</h3>
                        </div>
                        <div class="col-3">
                            <h3>Occassions</h3>
                        </div>
                        <div class="col-3">
                            <h3>Impact écologique</h3>
                        </div>
                    </div>

                </div>

<!-- | filterPrice: prixMin: prixMax -->
                <div id="products_all_view">
                        <ul id="products_view" *ngFor="let produit of produitsList | unique ">
                        <a href="#">
                            <img src="assets/images_produits/{{produit.image}}">
                        </a>
                        <li class="marque">{{produit.fournisseur}}</li>
                        <li class="libelle">{{produit.libelle}}</li>
                        <li class="prix">{{produit.prix}} €</li>
                    </ul>
                </div>
            </div>

        </div>

    </div>
</div>



<script src= "../../../slider.js"></script>

