<div (click)="scroll()" id="top_link" title="Revenir en haut de page" xmlns=""><span class="top_link_name">HAUT</span>
    <i class="fa fa-arrow-up" aria-hidden="true"></i>
</div>

<div class="contenu">
    <div class="global_width">

        <div id="small-filtres">
            <div class="row">
                <div class="col-md-6 col-6">
                    <div class="name" id="click-filtre">FILTRER</div>
                </div>
                <div class="col-md-6 col-6">
                    <div class="name" id="click-tri">TRIER</div>
                </div>
            </div>
        </div>


        <div id="tri">
            <div class="row">
                <div class="col-md-6 col-6">
                    <div class="name">
                        <span (click)="tri='asc'">
                            Prix croissant
                        </span>
                    </div>
                </div>
                <div class="col-md-6 col-6">
                    <div class="name">
                        <span (click)="tri='desc'">
                            Prix décroissant
                        </span>
                    </div>
                </div>
            </div>
        </div>


        <div class="row">
            <div class="produit-marge col-lg-2 col-md-0">
                <div id="familles_filtres">
                    <h2>
                        <span (click)="getAllProduits()">Tous les produits</span>
                    </h2>

                    <div class="famillesGlobal">
                        <ul *ngFor="let familleGlobal of familleGlobalList">
                            <li *ngIf="familleGlobal.id != 5">
                                <span (click)="afficherFamille(familleGlobal)" class="famille_global"
                                      [ngClass]="familleGlobal.checked == true ? 'familleGlobalActive' : 'familleGlobalNonActive'">
                                    {{familleGlobal.famille_global}}
                                </span>
                                <div class="famille">
                                    <ul *ngFor="let famille of famillesList">
                                        <li *ngIf="familleGlobal.checked">
                                        <span (click)="filterFamille(famille)"
                                              [ngClass]="famille.checked == true ? 'familleActive' : 'familleNonActive'">
                                            {{famille.famille}}
                                        </span>
                                        </li>
                                    </ul>
                                </div>

                            </li>
                        </ul>
                    </div>


                </div>
            </div>
            <div class="produit-marge col-lg-10 col-md-12">
                <div id="filtres">
                    <div class="row">
                        <div class="filtre-marge col-lg-2 col-md-4 col-6">
                            <div class="dropdown" id="dropdown-tailles">
                                <button class="btn btn-secondary btn-filter" type="button" data-toggle="dropdown"
                                        aria-expanded="false">
                                    <span class="dropdown-titre">Tailles</span>
                                    <span class="fa fa-angle-down"></span>
                                </button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    <table>
                                        <tr *ngFor="let taille of (tailleTypeList | uniqueTailleType)">
                                            <td>
                                                <input type="checkbox" [(ngModel)]="taille.checked"
                                                       (click)="!taille.checked ? filterArrTaille.push(taille.taille) : filterArrTaille.splice(filterArrTaille.indexOf(taille.taille),1)">
                                                {{taille.taille}}
                                            </td>
                                        </tr>
                                    </table>
                                </div>

                            </div>
                        </div>


                        <div class="filtre-marge col-lg-2 col-md-4 col-6">
                            <div class="dropdown" id="dropdown-marques">
                                <button class="btn btn-secondary btn-filter" type="button" data-toggle="dropdown"
                                        aria-expanded="false">
                                    <span class="dropdown-titre">Marques</span>
                                    <span class="fa fa-angle-down"></span>
                                </button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    <table>
                                        <tr *ngFor="let marque of fournisseurList">
                                            <td>
                                                <input type="checkbox" [(ngModel)]="marque.checked"
                                                       (click)="!marque.checked ? filterArrMarque.push(marque.nom_marque) : filterArrMarque.splice(filterArrMarque.indexOf(marque.nom_marque),1)">
                                                {{marque.nom_marque}}
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </div>

                        </div>
                        <div class="filtre-marge col-lg-2 col-md-4 col-6">
                            <div class="dropdown" id="dropdown-couleurs">
                                <button class="btn btn-secondary btn-filter" type="button" data-toggle="dropdown"
                                        aria-expanded="false">
                                    <span class="dropdown-titre">Couleurs</span>
                                    <span class="fa fa-angle-down"></span>
                                </button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">

                                    <ul>
                                        <li *ngFor="let couleur of couleurList">
                                            <input type="checkbox" [(ngModel)]="couleur.checked"
                                                   (click)="!couleur.checked ? filterArrCouleur.push(couleur.name) : filterArrCouleur.splice(filterArrMarque.indexOf(couleur.name),1)"
                                                   [value]="couleur.name"
                                                   [ngStyle]="{'background-color': couleur.hexa}"
                                                   title="{{couleur.name}}"
                                                   [ngClass]="couleur.checked == true ? 'couleurActive' : 'couleurNonActive'">

                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <div class="filtre-marge col-lg-2 col-md-4 col-6">

                            <div class="dropdown" id="dropdown-prix">
                                <button class="btn btn-secondary btn-filter" type="button" data-toggle="dropdown"
                                        aria-expanded="false">
                                    <span class="dropdown-titre">Prix</span>
                                    <span class="fa fa-angle-down"></span>
                                </button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    <div id="skipstep"></div>
                                </div>
                            </div>
                        </div>

                        <div class="filtre-marge col-4 annuler_filtres">
                            <span (click)=annulerFiltres()><i class="fa fa-times" aria-hidden="true"></i> Annuler filtres</span>
                        </div>


                        <div class="filtre-marge col-lg-2 col-md-4 col-6">
                            <div class="dropdown" id="dropdown-matieres">
                                <button class="btn btn-secondary btn-filter" type="button" data-toggle="dropdown"
                                        aria-expanded="false">
                                    <span class="dropdown-titre">Matières</span>
                                    <span class="fa fa-angle-down"></span>
                                </button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">

                                </div>
                            </div>
                        </div>


                        <!--<div class="col-2">-->
                        <!--<div class="dropdown" id="dropdown-occasions">-->
                        <!--<button class="btn btn-secondary btn-filter" type="button" data-toggle="dropdown"-->
                        <!--aria-expanded="false">-->
                        <!--<span class="dropdown-titre">Occasions</span>-->
                        <!--<span class="fa fa-caret-down"></span>-->
                        <!--</button>-->
                        <!--<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">-->

                        <!--&lt;!&ndash; <ul *ngFor="let marque of produitsList | uniqueFournisseur">-->
                        <!--<li>-->
                        <!--<span (click)=filterMarque(marque.fournisseurID)>{{marque.fournisseur}}</span>-->
                        <!--</li>-->
                        <!--</ul> &ndash;&gt;-->
                        <!--</div>-->
                        <!--</div>-->
                        <!--</div>-->
                        <div class="filtre-marge col-lg-2 col-md-4 col-6">
                            <div class="dropdown" id="dropdown-impact_ecolo">
                                <button class="btn btn-secondary btn-filter" type="button" data-toggle="dropdown"
                                        aria-expanded="false">
                                    <span class="dropdown-titre">Impact éthique</span>
                                    <span class="fa fa-angle-down"></span>
                                </button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">

                                    <table>
                                        <tr *ngFor="let point of pointsEthiquesList">
                                            <td>
                                                <input type="checkbox" [(ngModel)]="point.checked"
                                                       (click)="!point.checked ? filterArrEthique.push(point.nom_ethique) : filterArrEthique.splice(filterArrEthique.indexOf(point.nom_ethique),1)">
                                                {{point.nom_ethique}}
                                            </td>
                                        </tr>
                                    </table>

                                </div>
                            </div>
                        </div>

                        <div class="filtre-marge col-lg-2 col-md-4 col-6">

                            <div class="dropdown" id="dropdown-tri">
                                <button class="btn btn-secondary btn-filter" type="button" data-toggle="dropdown"
                                        aria-expanded="false">
                                    <span class="dropdown-titre">Trier par</span>
                                    <span class="fa fa-angle-down"></span>
                                </button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    <ul>
                                        <li>
                                            <span (click)="tri='asc'">
                                                Prix croissant
                                            </span>
                                        </li>
                                        <li>
                                            <span (click)="tri='desc'">
                                                Prix décroissant
                                            </span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>


                        <!--<div class="col-4 prix">-->
                        <!--<div class="row">-->
                        <!--<div class="col-3">-->
                        <!--<span class="filtre-titre">Prix (€)</span>-->
                        <!--</div>-->
                        <!--<div class="col-9">-->
                        <!--<div id="skipstep"></div>-->
                        <!--</div>-->
                        <!--</div>-->
                        <!--</div>-->


                        <div class="col-4 view_filtres">
                            <ul>
                                <li *ngFor="let taille of filterArrTaille" (click)=deleteFilterTaille(taille)>
                                    {{taille}} <i class="fa fa-times" aria-hidden="true"></i>
                                </li>

                                <li *ngFor="let marque of filterArrMarque" (click)=deleteFilterMarque(marque)>
                                    {{marque}} <i class="fa fa-times" aria-hidden="true"></i>
                                </li>

                                <li *ngFor="let couleur of filterArrCouleur" (click)=deleteFilterCouleur(couleur)>
                                    {{couleur}} <i class="fa fa-times" aria-hidden="true"></i>
                                </li>

                                <li *ngFor="let impact of filterArrEthique" (click)=deleteFilterImpact(impact)>
                                    {{impact}} <i class="fa fa-times" aria-hidden="true"></i>
                                </li>

                            </ul>
                        </div>


                    </div>
                </div>


                <div class="affichage_produit" *ngIf="produitsList.length > 96">
                    <!--<div class="affichage_produit">-->
                    <div class="row">
                        <div class="col-6">
                            <pagination-controls class="my-pagination" (pageChange)="p = $event"
                                                 previousLabel="Précédent" nextLabel="Suivant"></pagination-controls>
                        </div>
                    </div>
                </div>

                <!--<div class="col-6" style="display: flex;">-->

                <!--<div class="filtre-titre">-->
                <!--Articles par page-->
                <!--</div>-->
                <!--<div class="nbItemsPage">-->
                <!--<ul>-->
                <!--<li (click)="pageSize=4">-->
                <!--<span>4</span>-->
                <!--</li>-->
                <!--<li (click)="pageSize=8">-->
                <!--<span>8</span>-->
                <!--</li>-->
                <!--</ul>-->
                <!--</div>-->
                <!--</div>-->
                <!--</div>-->
                <!--</div>-->


                <div id="products_all_view">

                    <ul id="products_view"
                        *ngFor="let produit of (produitsList | filterPrice | filterTaille:filterArrTaille | filterMarque: filterArrMarque | filterCouleur: filterArrCouleur | filterEthique: filterArrEthique | unique | sortBy: 'prix' : tri | paginate: { itemsPerPage: pageSize, currentPage: p })">
                        <a [routerLink]="['/produit', produit.id]">

                            <li class="image">
                                <img src="assets/images_produits/{{produit.image}}" width="300" height="450">
                            </li>
                            <li class="marque">{{produit.marque}}</li>
                            <li class="libelle" *ngIf="produit.couleur != null">{{produit.libelle}}
                                {{produit.couleur}}
                            </li>
                            <li class="libelle" *ngIf="produit.couleur == null">{{produit.libelle}}</li>
                            <li class="prix">{{produit.prix}} €</li>

                        </a>
                    </ul>
                </div>


                <div class="affichage_produit">
                    <div class="row">
                        <div class="col-6">
                            <pagination-controls *ngIf="produitsList.length > 96" class="my-pagination">
                                <!--<pagination-controls class="my-pagination"-->
                                (pageChange)="p = $event"
                                previousLabel="Précédent"
                                nextLabel="Suivant">
                            </pagination-controls>
                        </div>
                        <div class="col-6">
                            <!-- Filtres prix -->
                            <span class="example-val" id="skip-value-lower"></span>
                            <span class="example-val" id="skip-value-upper"></span>
                            <!-- EOF - Filtres prix -->
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>
</div>



