<div (click)="scroll()" class="top_link" title="Revenir en haut de page">TOP
    <i class="fa fa-arrow-up" aria-hidden="true"></i>
</div>

<div class="contenu">
    <div class="global_width">
        <h1>
            {{view}}
        </h1>
        <div class="row">
            <div class="col-2">
                <div id="familles_filtres">
                    <h2>
                        <span (click)="getAllProduits()">Tous les produits</span>
                    </h2>

                    <div class="famille">
                        <ul *ngFor="let famille of famillesList">
                            <li>
                                <span (click)="filterFamille(famille)">{{famille.famille}}</span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-10">
                <div id="filtres">
                    <h2>Filtres</h2>
                    <div class="row">
                        <div class="col-2">
                            <div class="dropdown" id="dropdown-tailles">
                                <button class="btn btn-secondary btn-filter" type="button" data-toggle="dropdown"
                                        aria-expanded="false">
                                    <span class="dropdown-titre">Tailles</span>
                                    <span class="fa fa-caret-down"></span>
                                </button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    <ul>
                                        <li *ngFor="let taille of tailleTypeList" (click)=filterTaille(taille)
                                            [ngClass]="taille.isActive == true ? 'tailleActive' : 'tailleNonActive'">
                                            <span>{{taille.taille}}</span>
                                        </li>
                                    </ul>
                                </div>

                            </div>
                        </div>


                        <div class="col-2">
                            <div class="dropdown" id="dropdown-marques">
                                <button class="btn btn-secondary btn-filter" type="button" data-toggle="dropdown"
                                        aria-expanded="false">
                                    <span class="dropdown-titre">Marques</span>
                                    <span class="fa fa-caret-down"></span>
                                </button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    <table>
                                        <tr *ngFor="let marque of fournisseurList">
                                            <td>
                                                <input type="checkbox" [(ngModel)]="marque.checked"
                                                       [value]="marque.nomMarque">
                                                {{marque.nomMarque}}
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </div>

                        </div>
                        <div class="col-2">
                            <div class="dropdown" id="dropdown-couleurs">
                                <button class="btn btn-secondary btn-filter" type="button" data-toggle="dropdown"
                                        aria-expanded="false">
                                    <span class="dropdown-titre">Couleurs</span>
                                    <span class="fa fa-caret-down"></span>
                                </button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">

                                    <ul >
                                        <li *ngFor="let couleur of couleurList">
                                            <input type="checkbox" [(ngModel)]="couleur.checked"
                                                   [value]="couleur.name"
                                                   [ngStyle]="{'background-color': couleur.hexa}"   [ngClass]="couleur.checked == true ? 'couleurActive' : 'couleurNonActive'">

                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>


                        <div class="col-2">
                            <div class="dropdown" id="dropdown-matieres">
                                <button class="btn btn-secondary btn-filter" type="button" data-toggle="dropdown"
                                        aria-expanded="false">
                                    <span class="dropdown-titre">Matières</span>
                                    <span class="fa fa-caret-down"></span>
                                </button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">

                                    <!-- <ul *ngFor="let marque of produitsList | uniqueFournisseur">
                                                <li>
                                                    <span (click)=filterMarque(marque.fournisseurID)>{{marque.fournisseur}}</span>
                                                </li>
                                            </ul> -->
                                </div>
                            </div>
                        </div>
                        <div class="col-2">
                            <div class="dropdown" id="dropdown-occasions">
                                <button class="btn btn-secondary btn-filter" type="button" data-toggle="dropdown"
                                        aria-expanded="false">
                                    <span class="dropdown-titre">Occasions</span>
                                    <span class="fa fa-caret-down"></span>
                                </button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">

                                    <!-- <ul *ngFor="let marque of produitsList | uniqueFournisseur">
                                                <li>
                                                    <span (click)=filterMarque(marque.fournisseurID)>{{marque.fournisseur}}</span>
                                                </li>
                                            </ul> -->
                                </div>
                            </div>
                        </div>
                        <div class="col-2">
                            <div class="dropdown" id="dropdown-impact_ecolo">
                                <button class="btn btn-secondary btn-filter" type="button" data-toggle="dropdown"
                                        aria-expanded="false">
                                    <span class="dropdown-titre">Impact éthique</span>
                                    <span class="fa fa-caret-down"></span>
                                </button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">

                                    <!-- <ul *ngFor="let marque of produitsList | uniqueFournisseur">
                                                <li>
                                                    <span (click)=filterMarque(marque.fournisseurID)>{{marque.fournisseur}}</span>
                                                </li>
                                            </ul> -->

                                    <table>
                                        <tr>
                                            <td>
                                                <input type="checkbox"> Matière écologique, bio, recyclée
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <input type="checkbox"> Social et solidaire
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <input type="checkbox"> Vegan
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <input type="checkbox"> Made in France
                                            </td>
                                        </tr>
                                    </table>

                                </div>
                            </div>
                        </div>

                        <div class="col-2">

                            <div class="dropdown" id="dropdown-tri">
                                <button class="btn btn-secondary btn-filter" type="button" data-toggle="dropdown"
                                        aria-expanded="false">
                                    <span class="dropdown-titre">Trier par</span>
                                    <span class="fa fa-caret-down"></span>
                                </button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    <ul>
                                        <li>
                                            <span (click)="tri='asc'">
                                                Prix croissant
                                            </span>
                                        </li>
                                        <li>
                                            <span (click)="tri='desc'">
                                                Prix décroissant
                                            </span>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>


                        <div class="col-3">
                            <span class="filtre-titre">Prix (€)</span>
                            <div id="skipstep"></div>

                        </div>


                    </div>
                </div>


                <div id="affichage_produit">
                    <div class="row">
                        <div class="col-6">
                            <pagination-controls class="my-pagination" (pageChange)="p = $event"
                                                 previousLabel="Précédent" nextLabel="Suivant"></pagination-controls>
                        </div>

                        <div class="col-6" style="display: flex;">

                            <div class="filtre-titre">
                                Articles par page
                            </div>
                            <div class="nbItemsPage">
                                <ul>
                                    <li (click)="pageSize='4'">
                                        <span>4</span>
                                    </li>
                                    <li (click)="pageSize='8'">
                                        <span>8</span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>


                <!-- Filtres prix -->
                <span class="example-val" id="skip-value-lower"></span>
                <span class="example-val" id="skip-value-upper"></span>
                <!-- EOF - Filtres prix -->


                <div id="products_all_view">

                    <ul id="products_view"
                        *ngFor="let produit of (produitsList | filterPrice | filterMarque: { fournisseur: ''} : checkedFournisseur() : false  |  filterCouleur: { couleur: ''} : checkedCouleur() : false | unique | sortBy: 'prix' : tri | paginate: { itemsPerPage: pageSize, currentPage: p })">
                        <a [routerLink]="['/produits', produit.id]">
                            <img src="assets/images_produits/{{produit.image}}">
                        </a>
                        <li class="marque">{{produit.fournisseur}}</li>
                        <li class="libelle">{{produit.libelle}} {{produit.couleur}}</li>
                        <li class="prix">{{produit.prix}} €</li>
                        <!--<li class="couleur"></li>-->
                    </ul>
                </div>


                <pagination-controls class="my-pagination" (pageChange)="p = $event" previousLabel="Précédent"
                                     nextLabel="Suivant"></pagination-controls>

            </div>
        </div>
    </div>
</div>