/* rouge #BA1B1D */
 /* brown  #250902; 45050C; 3D1308, 3F220F*/


/* GLOBAL */

html, body{
  height: 100%; 
}

body{
  background-color: #F4ECDE; 
}


.global_width{
  max-width: 1760px;
  margin: auto;
  padding: 0 10px;
}

#body-position{
  position: relative;
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -20px;
}

.container{
    width: auto;
}

.contenu{
  padding-bottom:260px;
}

/* EOF GLOBAL */






/*  BOOTSTRAP COL SIZE */
.col-xs-12 {
  width: 100%;
}

.col-xs-12 {
  width: 100%;
}

.col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
  float: left;
}

.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}

/*  EOF BOOTSTRAP COL SIZE */


/* NAVBARS -TOP PAGE */

#top-page{
  z-index: 1000;
  height:60px;
}

#top-page, #top-page-scroll{
  background-color: #000000;
  padding-top:10px;
  padding-bottom:10px;
  font-size:1.2em;
}

#top-page img, #top-page-scroll img{
  padding:0px;
  width:40px;
}

#top-page #right-top, #top-page-scroll #right-top{
  color: #880015;
  padding-top: 5px;
  padding-right: 0px;
  padding-left: 0px;
  width: 80px;
}

#top-page #right-top a {
  color: #FBFFFE;  
  text-decoration:none; 
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 10px;
  
}

#top-page #right-top a:hover {
  background-color: #F4ECDE; 
  color: #000000;
  padding-top: 20px;
  padding-bottom: 16.5px;
  padding-right: 10px;
  border-bottom: 1.5px solid #880015; 
  font-weight: 500;
}

#top-page #right-top .fa{
  color: #880015;
  font-size: 25px;
  padding-right:3px;
}


#top-page .fa{
  padding-right:3px;
  padding-left:3px;  
}

#top-page .top-icon{
  visibility: hidden;
}

#top-page-scroll{
  z-index: 1030;
  position: fixed;
  top: 0;
  width:100%;
  visibility:hidden;
  border-bottom: 2px solid #F4ECDE;  
}

#top-page-scroll #right-top{
  text-align: center;
}

#top-page .right-top-all{
  text-align:right;
  padding: 0px;
  right:0;
  position: absolute;
}


#top-page-scroll #right-top .fa{
  color: #880015;
  font-size: 25px;
  padding-top:5px;
  text-align: center;

}

#top-page-scroll #right-top .cercle{
  width:40px;
  height:40px;
  background:#F4ECDE;
  border-radius:50%;
  border:2px solid #FBFFFE; 
}

#top-page-scroll #right-top span:hover{
  cursor: pointer;
}

#top-page-scroll #categorie-item a{
  width:25%;
  font-family: 'Open Sans Condensed', sans-serif;
  color:#FBFFFE;
  font-size:1.2em;
  font-weight: bold;
  text-decoration:none; 
  text-align: center;
}


#top-page-scroll #categorie-item{
  text-align: center;
  vertical-align: middle;
  padding-top:5px;

}

#searchBox{
  text-align: center;
}
#searchBox .searchInput :-moz-placeholder { color: #880015; } /* Firefox <= 18 */
::-moz-placeholder { color: #880015; } /* Firefox >= 19 */
::-webkit-input-placeholder { color: #880015; }
:-ms-input-placeholder{ color: #880015; } /* IE */

#searchLabel{
  position: relative;
  margin:0;
  width:400px;
}

#searchLabel .fa-search{
  color: #880015;
  top: 5px;
  right: 10px;
  position: absolute;
  font-size:25px;
}

#searchLabel span{
  cursor: pointer;
}

#searchInput{
  padding-left: 5px;
  width:400px;
}

.smallSearchBox{
  visibility: hidden;
}


/* EOF NAVBARS -TOP PAGE */



/* NAVBARS - NAV */
.navbar{
  padding-left: 120px;  
  padding-right: 120px;  
  margin-bottom: 20px;  
  border:0;
  width:100%;
  background-color: #FBFFFE;  
  border-bottom: 2px solid #880015;  
} 

.navbar img{
  width:100px;
}

.navbar-toggleable-md .navbar-nav{
    width:100%;
}

.navbar-toggleable-md .navbar-nav > li {
  text-align:center;
  width:20%;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size:2.5em;
}

.navbar-fixed-top .navbar-nav > li{
  width:11%;
  font-size:1.5em;
  text-align:center;
}

.navbar-toggleable-md .navbar-nav > li > a{
    color:#000000;
}

.navbar-toggleable-md .navbar-nav > li > a:hover, .navbar-toggleable-md .navbar-nav > li > a:focus {
  color:#880015;
  text-decoration:none; 
}

/* EOF NAVBARS - NAV */





/* FOOTER */
  
#bottom-page {
  position: absolute;
  bottom: 0px;
  width:100%;
}

#bottom-page a{
  text-decoration:none; 
  color:#000000;
}


#bottom-page a > li {
  list-style-type: none; 

}

#bottom-page h1{
  padding-left:40px;
  font-family: 'Open Sans Condensed', sans-serif;
  color: #880015; 
}

.bottom-bar{
  margin-top:30px;
  padding-top:10px;
  background-color: #FBFFFE;   
  border-top: 1.5px solid #880015;
}

.bottom-bar .icon_social{
  padding-left:40px;
}


.bottom-bar i{
  padding:10px;
}

.bottom-bar .icon_social img{
  width: 50px;
  margin: 10px;
}


.bottom-copyright{
  background-color: #880015;  
  color:#FBFFFE;
  text-align: center;
  padding-top:10px;
  padding-bottom:20px;
}

.global_width_bottom{
  max-width: 1580px;
  margin: auto;
  padding: 0 10px;
}

/* EOF FOOTER */



/*  RESPONSIVE  */
@media (max-width: 1440px){
  #top-page #right-top a, #top-page #right-top a:hover{
    padding-right:1px;
    padding-top: 20px;
    padding-bottom: 16.5px;
  }

  .navbar-toggleable-md .navbar-nav > li{
    font-size: 1.7em;
  }

}


@media (max-width: 1260px) {
  .navbar-toggleable-md .navbar-nav > li{
    font-size: 1.5em;
  }

  #top-page #right-top{
    padding-top:0px;
    height: 40px;
    text-align:center;
    margin-right: 30px;
  }
  
  #top-page #right-top .fa{
    color: #880015;
    font-size: 25px;
    padding-top:5px;
    text-align: center;
  }

  #top-page #right-top a {
    font-size: 0em;
    padding: 0px;
  }

  #top-page #right-top .cercle{
    width:40px;
    height:40px;
    background:#F4ECDE;
    border-radius:50%;
    border:2px solid #FBFFFE; 
  }

  #top-page #right-top a:hover {
    background-color: #000000;
    border:none;
  }

  .contenu{
    padding-bottom:80px;
  }

  #bottom-page .bottom-bar{
    visibility: hidden;
  }

  #top-page .top-icon a{
    display:block;
    color:#F4ECDE;
    float:left;
    position: relative;
    padding-top:5px;
  }

  #top-page .top-icon{
    visibility: visible;
  }

  #searchLabel, #searchInput{
    width:250px;
  }

  
  .navbar{
    visibility: hidden;
  }
}


@media (max-width: 1000px) {
  #searchLabel, #searchInput, #top-page .logo, .top-icon,  #searchBox{
    width:40px;
  }

  .right-top-all{
     width:250px;
  }
 

  #top-page #searchBox{
    visibility: hidden;
    padding:0;
  }
  #top-page .logo{
    padding: 0;
  }

  #top-page .smallSearchBox{
    visibility: visible;

  }

  #top-page #right-top{
    margin-right: 20px;
  }
}



@media (max-width: 768px) {
  #top-page #right-top{
    margin-right: 10px;
    width:40px;
  }


}

@media (max-width: 640px) {


  #top-page #right-top .cercle{
    width:40px;
    height:40px;
    background:#000000;
    border-radius:50%;
    border:none;
  }

  #top-page #right-top .fa{
    color: #F4ECDE;
  }
  #top-page #right-top{
    margin-right: 0px;
  }
  
  .right-top-all{
    width:200px;
 }
}





/* Page d'acceuil */
.contenu #soldes{
  padding: 16px 8px 0 8px;
  background: #FBFFFE; 
}

.contenu .max_width{
    max-width: 1760px;
    padding:0 10px;
}

.contenu #soldes .image{
  padding: 0 8px 16px 8px;
  text-align:center;

}

.contenu #soldes .image img{
  max-width: 100%;
  height: auto;  
}
/* EOF  Page d'acceuil */