/* rouge #BA1B1D */
/* brown  #250902; 45050C; 3D1308, 3F220F*/

/* GLOBAL */

html, body {
    height: 100%;
    font-family: 'Quicksand', sans-serif;
}

body {
    background-color: #F4ECDE;
}

h1 {
    font-family: 'Open Sans Condensed', sans-serif;
}

h1 {
    font-size: 2em;
}

h2 {
    font-family: 'Quicksand', sans-serif;
    font-size: 1.5em;
}

a, a:hover {
    text-decoration: none;
    color: #000;
}

.required{
    color:#880015;
}

.global_width {
    /*max-width: 1760px;*/
    margin: 16px;
    padding: 0 10px;
    /*height: 100%;*/
}

#body-position {
    position: relative;
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -20px;
}

.container {
    width: auto;
}

.contenu {
    /*padding-bottom: 260px;*/
    height: 100%;
    min-height: 100vh;
}

.btn:hover {
    cursor: pointer;
}

.contenu .btn:disabled {
    cursor: no-drop;
    background-color: rgba(136, 0, 21, 0.5) !important;
}


/* EOF GLOBAL */

/*  BOOTSTRAP COL SIZE */
.col-xs-12 {
    width: 100%;
}

.col-xs-12 {
    width: 100%;
}

.col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
    float: left;
}

.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

/*  EOF BOOTSTRAP COL SIZE */

/* NAVBARS -TOP PAGE */

#top-barre {
    width: 100%
}

#top-page {
    z-index: 1000;
    height: 54px;
    position: static;
    width: 100%;

}

#top-page, #top-page-scroll {
    background-color: #000000;
    /* padding-top:10px; */
    /* padding-bottom:10px; */
    font-size: 1.2em;
}

#top-page .logo, #top-page-scroll .logo {
    margin-top: 0;
}

#top-page .logo-min {
    display: none;
}

#top-page img, #top-page-scroll img {
    margin-top: 2.5px;
    margin-bottom: 2.5px;
    padding: 0px;
    height: 50px;
}

#top-page #right-top, #top-page-scroll #right-top {
    padding-right: 0;
    padding-left: 0;
    width: 80px;
    display: inline;
}

#top-page-scroll #right-top {
    padding-top: 8px;
}

#top-page #right-top-all {
    padding-top: 30px;
}

#top-page #right-top a {
    color: white;
    text-decoration: none;
    padding-top: 16px;
    padding-bottom: 7px;
    padding-right: 10px;
    font-family: 'Quicksand', sans-serif;
    font-size: 1em;
    display: inline-block;

}

#top-page #right-top a:hover {
    background-color: #F4ECDE;
    color: #000000;
    cursor: pointer;
    /*padding-bottom: 13px;*/
    border-bottom: 1.5px solid #880015;
    font-family: 'Quicksand', sans-serif;
}

#top-page #right-top .fa {
    color: #880015;
    font-size: 1.4em;
    padding-right: 3px;

}



#top-page .fa {
    padding-right: 3px;
    padding-left: 3px;
}

#top-page #top-icon {
    display: none;
}

#top-page-scroll {
    z-index: 1030;
    position: fixed;
    top: 0;
    width: 100%;
    visibility: hidden;
    border-bottom: 2px solid #F4ECDE;
}

#top-page-scroll #right-top {
    text-align: center;
}

#top-page .right-top-all {
    text-align: right;
    padding: 0px;
    right: 0;
    position: absolute;
    padding-top: 0;
    height: 54px;
}

#top-page-scroll #right-top .fa {
    color: #F4ECDE;
    font-size: 1.4em;
    padding-top: 5px;
    text-align: center;
    width: 20%;

}

/*#top-page-scroll #right-top .cercle {*/
    /*width: 40px;*/
    /*height: 40px;*/
    /*background: #F4ECDE;*/
    /*border-radius: 50%;*/
    /*border: 2px solid white;*/
/*}*/

/*#top-page-scroll #right-top span:hover {*/
/*cursor: pointer;*/
/*}*/

#top-page-scroll .categorie-item a {
    width: 25%;
    font-family: 'Open Sans Condensed', sans-serif;
    color: white;
    font-size: 1.5em;
    /* font-weight: bold; */
    text-decoration: none;
    text-align: center;
}

#top-page-scroll .categorie-item {
    text-align: center;
    vertical-align: middle;
    padding-top: 8px;

}

#top-page .right-top-all .dropdown .dropbtn {
    background: none;
    color: white;
}

#top-page .right-top-all .dropdown .dropbtn:hover, #top-page .dropdown .dropbtn:focus {
    background: #F4ECDE;
    color: black;
}

#top-page .right-top-all .dropdown {
    position: relative;
    display: inline-block;
}

#top-page .right-top-all .dropdown .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

#top-page .right-top-all #right-top .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

#top-page .right-top-all .dropdown a:hover {
    background-color: #f1f1f1
}

#top-page .right-top-all .dropdown .show {
    display: block;
    left: 20px;
}


#searchBox {
    text-align: center;
}

#searchBox .searchInput :-moz-placeholder {
    font-family: 'Quicksand', sans-serif;
    font-weight: 700;
    color: #880015;
}

/* Firefox <= 18 */
::-moz-placeholder {
    font-family: 'Quicksand', sans-serif;
    font-weight: 700;
    color: #880015;
}

/* Firefox >= 19 */
::-webkit-input-placeholder {
    font-family: 'Quicksand', sans-serif;
    font-weight: 700;
    color: #880015;
}

:-ms-input-placeholder {
    font-family: 'Quicksand', sans-serif;
    font-weight: 700;
    color: #880015;
}

/* IE */

.searchLabel {
    position: relative;
    margin: 0;
    width: 400px;
    padding-top: 10px;
}

.searchLabel .fa-search {
    color: #880015;
    top: 5px;
    right: 10px;
    position: absolute;
    font-size: 1.5em;
    padding-top: 8px;
}

.searchLabel span {
    cursor: pointer;
}

#searchInput {
    padding-left: 5px;
    width: 400px;
    border-radius: 2px;
}

.smallSearchBox {
    visibility: hidden;
}

#smallSearch {
    display: none;
}

/* EOF NAVBARS -TOP PAGE */

/* NAVBARS - NAV */
.menu {
    height: 50px;
    padding-left: 120px;
    padding-right: 120px;
    margin-bottom: 20px;
    border: 0;
    width: 100%;
    background-color: white;
    border-bottom: 2px solid #880015;
    position: static;
    top: 60px;
    z-index: 999;
}

.menu .menu-item {
    text-align: center;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 2em;
    color: #000000;
    display: inline-block;
    width: 19%;
}

.menu .menu-dropdown, .categorie-item .menu-dropdown {
    display: none;
    position: absolute;
    min-width: 160px;
    box-shadow: 8px 8px 16px 8px rgba(0, 0, 0, 0.2);
    z-index: 1;
    width: 90%;
    background-color: #F9F4ED;
}

.categorie-item .menu-dropdown {
    width: 500%;
}

.sidebar .menu .menu-item .menu-dropdown {
    left: 180px;
    top: 60px;
}

.filtrebar .contenu #filtres {
    display: block;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    padding-left: 5px;
    padding-right: 5px;
}

.contenu #tri {
    display: none;
    margin-bottom: 10px;
}

.tribar .contenu #tri {
    display: block;
}

.contenu #tri .name {
    background-color: #880015;
    color: #fff;
    text-align: center;
    width: 90%;
    margin: auto;
    -webkit-box-shadow: 0px 0px 1px #fff;
    -moz-box-shadow: 0px 0px 1px #fff;
    box-shadow: 0px 0px 1px #fff;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}

.filtrebar #filtres .annuler_filtres, .filtrebar #filtres .view_filtres {
    display: none;
}

.sidebar .menu .menu-dropdown ul {
    display: block;
    text-align: center;
}

.sidebar .menu .menu-dropdown-famille {
    display: none;
}

.sidebar .menu .menu-dropdown .famille-name {
    display: none;
}

.sidebar .menu .menu-dropdown .menu-item-5 {
    width: auto;
}

.menu .menu-dropdown ul, .categorie-item .menu-dropdown ul {
    padding: 0;
    margin: 0;
    display: inline-block;
}

.categorie-item .menu-dropdown {
    text-align: center;
}

.categorie-item .menu-dropdown .familleg-name {
    color: #000;
    font-size: 24px;
    font-family: 'Open Sans Condensed', sans-serif;
    overflow: hidden;
    white-space: nowrap;
}

.menu .menu-dropdown .nonVisible, .categorie-item .menu-dropdown .nonVisible {
    display: none;
}

.menu .menu-dropdown-famille ul, .categorie-item .menu-dropdown-famille ul {
    margin: 0;
    padding: 0;
    display: block;
}

.categorie-item .menu-dropdown-familleglobale ul {
    padding: 0;
    margin: 0;
}

.menu .menu-dropdown .menu-item-5, .categorie-item .menu-dropdown .menu-item-5 {
    width: 20%;
}

.menu .menu-dropdown li, .categorie-item .menu-dropdown li {
    font-size: 20px;
    color: black;
    text-decoration: none;
    display: block;
}

.menu .menu-dropdown li span:hover {
    background-color: #fff;
}

.menu .menu-dropdown .familleg-name {
    font-size: 1.3em;
}

.menu .menu-dropdown-famille a, #top-page-scroll .categorie-item .menu-dropdown-famille a,
.menu .menu-dropdown-famille li, #top-page-scroll .categorie-item .menu-dropdown-famille li {
    font-size: 20px;
    text-decoration: none;
    font-family: 'Quicksand', sans-serif;
    color: #000;
}

#top-page-scroll .categorie-item .menu-dropdown-famille a {
    color: #000;
}

.menu-item:hover .menu-dropdown, .categorie-item:hover .menu-dropdown {
    display: block;
}

.menu .menu-dropdown-famille, .categorie-item .menu-dropdown-famille {
    display: none;
    padding: 5px;
    position: absolute;
    background-color: #fff;
    min-width: 160px;
    box-shadow: 8px 8px 16px 8px rgba(0, 0, 0, 0.2);
    z-index: 1;
    width: 100%;
    height: auto;
    columns: 3;
    text-align: left;
}

.categorie-item .menu-dropdown-famille {
    display: none;
}

.menu .menu-dropdown-familleglobale li {
    background-color: #F9F4ED;
}

.menu .menu-item:hover .familleGName a {
    background-color: #F9F4ED;
    color: #880015;
}

.sidebar .menu .menu-dropdown:hover .menu-dropdown-famille {
    display: none;
}

.menu .menu-dropdown:hover .menu-dropdown-famille {
    display: block;
}

.categorie-item:hover .menu-dropdown-famille {
    display: block;
}

/*.menu .menu-dropdown .famille-active{*/
/*display: block;*/
/*}*/

.menu .familleGActive {
    background-color: #fff;
    color: #880015;
}

.menu a {
    color: #000000;
    display: block;
}

#top-page-scroll .categorie-item .menu-dropdown a {
    display: block;
    width: 100%;
}

#top-page-scroll .categorie-item .menu-dropdown a:hover,
#top-page-scroll .categorie-item .menu-dropdown a:focus {
    background-color: #fff;
}

#top-page-scroll .categorie-item .menu-dropdown a:hover .familleg-name,
#top-page-scroll .categorie-item .menu-dropdown a:focus .familleg-name {
    color: #880015;
}

.menu a:hover, .menu a:focus {
    color: #880015;
    text-decoration: none;
    background-color: #fff;
}

.menu .menu-item .menu-dropdown {
    left: 5%;
}

.menu .menu-item .menu-famille {
    display: inline-block;
    padding: 0.5rem;
}

.categorie-item .menu-famille {
    padding: 0.5rem;
    display: inline-block;
}

.menu .menu-famille img, #top-page-scroll .categorie-item .menu-famille img {
    width: 35px;
    height: 35px;
    margin: 0;

}

.categorie-item .femme {
    left: 0;
}

.categorie-item .homme {
    left: -100%;
}

/* EOF NAVBARS - NAV */

#top_link {
    position: fixed;
    right: 20px;
    bottom: 40%;
    /*display: none;*/
    padding: 16px;
    background: white;
    color: #000000;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    border-radius: 20px;
    opacity: 0.9;
    z-index: 2000;
    font-size: 1.1em;
    border: 1.4px solid #880015;
}

#top_link .fa {
    color: #880015;
}

#top_link:hover {
    cursor: pointer;
}

/* FOOTER */

#bottom-page {
    position: absolute;
    /*bottom: 0px;*/
    width: 100%;
}

#bottom-page a {
    text-decoration: none;
    color: #000000;
}

#bottom-page a:hover {
    color: #880015;
}

#bottom-page li {
    text-decoration: none;
    list-style-type: none;
    font-family: 'Quicksand', sans-serif;
}

#bottom-page h1 {
    padding-left: 40px;
    font-family: 'Open Sans Condensed', sans-serif;
    color: #880015;
}

.bottom-bar {
    margin-top: 30px;
    padding-top: 10px;
    background-color: white;
    border-top: 1.5px solid #880015;
}

.bottom-bar .icon_social {
    padding-left: 40px;
}

.bottom-bar i {
    padding: 10px;
}

.bottom-bar .icon_social img {
    width: 40px;
    margin: 10px;
}

.bottom-copyright {
    background-color: #880015;
    color: white;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 20px;
    bottom: 0;
}

.global_width_bottom {
    max-width: 1580px;
    margin: auto;
    padding: 0 10px;
    width: 80%;
}

.icon_social-responsive {
    display: none;
}

/* EOF FOOTER */

.footer {
    margin-left: 10%;
    margin-right: 10%;
    background-color: #fff;
    padding-left: 2%;
    padding-right: 2%;
    padding-top: 20px;
    padding-bottom: 10px;
    margin-bottom: 20px;
}

.footer a {
    color: #880015;
}

.footer h1 {
    color: #880015;
    font-size: 2.5em;
}

.footer h2 {
    color: #880015;
}

.footer h3 {
    font-size: 1.3em;
    font-weight: bold;
}

.footer p {
    text-align: justify;
}

#lequipe .lequipe, #nos_valeurs .nos_valeurs {
    margin-top: 10px;
    /*display: flex;*/
}

#lequipe .lequipe_titre, #nos_valeurs .nos_valeurs_titre {
    color: #880015;
    font-weight: 600;
}

#lequipe .lequipe_contenu, #nos_valeurs .nos_valeurs_contenu {
    display: block;
    /*padding-left:10px;*/
}

#lequipe .lequipe_description, #nos_valeurs .nos_valeurs_description {
    text-align: justify;
    padding-bottom: 20px;
}

#lequipe .lequipe_image img, #nos_valeurs .nos_valeurs_image img {
    float: left;
    padding-right: 10px;
    margin: auto;
    max-width: 100%;
}

#nos_valeurs .nos_valeurs_texte {
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
}

/* Page d'acceuil */
.contenu #soldes {
    padding: 8px 4px 0 4px;
    background: white;
    max-width: 1760px;
    margin: auto;
}

.contenu .max_width {
    max-width: 1760px;
    padding: 0 10px;
}

.contenu #soldes .image {
    padding: 0 4px 8px 4px;
    text-align: center;

}

.contenu #soldes .image img {
    max-width: 100%;
    height: auto;
}

/* EOF  Page d'acceuil */

.contenu .form-etiquette {
    max-width: 500px;
    text-align: center;
    padding: 10px;
    /*background-color: #fff;*/
    /*width: 30%;*/
    display: block;
    margin: auto;
    border-radius: 10px;
    /*border: 2px dashed #880015;*/
}

.contenu .form-etiquette label {
    text-align: left;
    margin: 0 0 15px 0;
    width: 100%;
    display: inline-block;
}

.form-etiquette label > span {
    width: 30%;
    font-weight: bold;
    float: left;
    padding-top: 8px;
    padding-right: 5px;
}

.not-found {
    text-align: center;
}

.not-found img {
    padding: 16px 16px;
    background: white;
    max-width: 100%;
    height: auto;
}

.not-found-msg {
    padding-top: 20px;
    font-size: 1.5em;
    font-family: 'Quicksand', sans-serif;
}

/* Affichage tous les produits */

.contenu .produit-marge {
    padding-left: 5px;
    padding-right: 5px;
}

.contenu #products_view {
    padding: 1px;
    background: white;
    font-family: 'Open Sans Condensed', sans-serif;
}

.contenu #products_view .image {
    text-align: center;
}

.contenu #products_all_view {
    /*margin-left: 42.5px;*/
}

.contenu #products_all_view ul {
    list-style: none;
    display: inline-block;
    width: 25%;
    margin-bottom: 2px;
    border: 2px solid #F4ECDE;

}

.contenu #products_view li {
    overflow: hidden;
    white-space: nowrap;
}

.contenu #products_view .marque, .contenu #products_view .libelle {
    color: #000;
}

.contenu #products_view img {
    height: auto;
    max-width: 100%;
    /*max-height:407px;*/
}

.contenu #products_view .marque {
    font-size: 1.6em;
    font-weight: bolder;
}

.contenu #products_view a {
    text-decoration: none;
}

.contenu #products_view .libelle, .contenu #product_view .libelle {
    text-align: center;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 1.3em;
}

.contenu #products_view .prix, .contenu #product_view .prix {
    text-align: center;
    font-weight: bold;
    color: #880015;
    font-size: 1.3em;
    font-family: 'Open Sans Condensed', sans-serif;
}





.contenu .selling {
    background-color: #fff;
    width: 60%;
    text-align: center;
    margin: auto;
    padding-top: 10px;
    margin-top: 40px;
}

.contenu .selling a:hover .libelle {
    color: #880015;
    font-weight: bold;
}

.contenu .selling h2 {
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: bold;
    color: #880015;
    font-size: 1.6em;
}

.contenu .selling .marque {
    color: #880015;
    font-size: 1.3em;
}

.contenu .selling .prix {

}

.contenu .selling ul {
    list-style: none;
    display: inline-block;
    padding: 0;
    width: 25%;
}

.contenu .selling img {
    max-width: 98%;
}

/* FAMILLES FILTRES  */

#small-filtres {
    display: none;
}

.contenu #filtres .row {
    margin-right: 0;
    margin-left: 0;
}

.contenu .filtre-marge {
    padding: 1px;
}

.contenu #familles_filtres {
    background-color: white;
    height: 100%;
    padding-left: 8px;
    padding-top: 8px;
}

.contenu #familles_filtres .famille_global {
    font-size: 1.4em;
}

.contenu #familles_filtres .famille .familleActive {
    font-weight: bold;
}

.contenu #familles_filtres .familleGlobalNonActive:hover,
.contenu #familles_filtres .familleGlobalNonActive:focus {
    font-weight: bold;
}

.contenu #familles_filtres .famille li:hover,
.contenu #familles_filtres .famille li:focus {
    font-weight: normal;
    color: #880015;
}

.contenu #familles_filtres .famillesGlobal .familleGlobalActive {
    font-weight: bold;
    color: #880015;
}

.contenu #familles_filtres h2 {
    font-family: 'Open Sans Condensed', sans-serif;
    color: #880015;
    font-size: 2em;
}

.contenu #familles_filtres .famille span {
    font-size: 1em;
    width: 100%;
    float: left;
}

.contenu #familles_filtres span:hover {
    cursor: pointer;
}

.contenu #familles_filtres ul {
    list-style: none;
    margin: 0;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 1.2em;
    padding: 0;
}

/*  FILRES GLOBAUX */
.contenu #filtres {
    background-color: white;
    margin-bottom: 8px;
    padding-left: 5px;
    margin-left: 2px;
}

.contenu #filtres h2 {
    font-family: 'Open Sans Condensed', sans-serif;
    color: #880015;
    font-size: 2em;
}

.contenu #filtres .btn-filter, .contenu .affichage_produit .btn-tri {
    margin: 10px;
    min-width: 100%;
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    padding-left: 2px;
    padding-right: 25px;
    border-radius: 3px;
}

.contenu #filtres .btn-filter .dropdown-titre,
.contenu .affichage_produit .btn-tri .dropdown-titre, .contenu .filtre-titre {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 1.5em;
    text-align: left;
    overflow: hidden;
}

.contenu .affichage_produit .filtre-titre {
    margin-top: 5px;
    margin-right: 10px;
}

.contenu #filtres .btn-filter span, .contenu .affichage_produit .btn-tri span {
    display: block;
}

.contenu #filtres .btn-filter .fa, .contenu .affichage_produit .fa {
    font-size: 1.4em;
    bottom: 22px;
    margin: 0;
    position: absolute;
    right: 10px;

}

.contenu #filtres .dropdown-toggle::after, .contenu .affichage_produit .dropdown-toggle::after {
    text-align: right;
}

.contenu #filtres .view_filtres ul {
    list-style: none;
    display: inline;
    padding: 0;
}

.contenu #filtres .view_filtres li {
    border: 1px solid #880015;
    display: inline-block;
    margin: 5px;
    padding: 3px;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 1.3em;
}

.contenu #filtres .view_filtres li:hover {
    cursor: pointer;
}

.contenu #filtres .view_filtres li .fa {
    -webkit-text-stroke: 2px white;
}

/*PRODUCTS*/
.contenu #product_view ul {
    list-style: none;
    /*text-align: left;*/
}

.contenu #product_view .images-produit {
    /*margin: 10px;*/
    margin-left: 50px;
    margin-right: 50px;
    text-align: center;
    /*background-color: #fff;*/
}

.contenu #product_view .contenu-produit {
    margin: 10px;
    padding: 10px;
    background-color: #fff;
}


.contenu #product_view .contenu-produit img{
    width:50px;
}

.contenu #product_view .contenu-produit .declinaison-ethique ul{
    padding:0;
    display: inline-block;
    margin:10px;
}

.contenu #product_view .images-produit img.image-principale {
    /*border: solid 0.5px #c1c1c1;*/
    width: 300px;
    margin: 10px;
}

.contenu #product_view .prix {
    text-align: left;
}

.contenu #product_view .titre {
    font-family: 'Open Sans Condensed', sans-serif;
}

/*.contenu #product_view .images-produit .images-mignatures{*/
/*!*margin:auto;*!*/
/*transform: translateY(30%);*/
/*}*/

.contenu #product_view .images-produit .images-mignatures img {
    width: 90px;
}

.contenu #product_view .images-produit .images-mignatures img:hover {
    cursor: pointer;
}

.contenu #product_view .images-mignatures ul {
    padding: 0;
    margin: 0;
}

.contenu #product_view .images-mignatures li {
    list-style: none;
    display: inline-block;
    padding: 5px;
    margin: 5px;
    width: 90px;
    text-align: center;
}

.contenu #product_view .tailles span {
    list-style: none;
    display: inline-block;
    padding: 5px;
    margin-right: 10px;
    margin-bottom: 10px;
    margin-top: 5px;
    border: 1px solid #880015;
    width: 40px;
    text-align: center;
    font-family: 'Quicksand', sans-serif;
}

.contenu #product_view .tailles span:hover, .contenu #product_view .tailles .tailleActive {
    background-color: #880015;
    color: white;
}

.contenu #product_view .tailles label {
    margin: 0;
}

.contenu #product_view .tailles .tailleNonActive {
    background-color: #fff;
    color: #880015;
}

.contenu #product_view .tailles input {
    opacity: 0;
    position: absolute;
}

#articleAjoutePanier{
    display: none;
}

.contenu .ajouter_panier {
    text-align: center;
}

.contenu .ajouter_panier .btn_ajout_panier, .contenu .btn_panier, .contenu .btn_connexion,
.footer .btn-footer{
    color: #ffffff;
    font-size: 1.5em;
    background: #880015;
    padding: 10px;
    text-decoration: none;
    border-radius: 0;
    font-weight: 600;
    font-family: 'Open Sans Condensed', sans-serif;
}

.contenu .btn_continuer_achat {
    /*background: #fff;*/
    /*color:#880015;*/
    background-color: #000;
}

.contenu .ajouter_panier .btn_ajout_panier:hover {
    background: #921729;
    text-decoration: none;
}

.contenu .panier_content {
    text-align: center;
}

.contenu .panier_table{
    display: block;
}

.contenu .panier_small{
    display: none;
}


.contenu .panier_table, .contenu .connexion_content {
    margin: 20px;
    padding-left: 10%;
    padding-right: 10%;
}

.contenu .panier_table table {
    width: 100%;
    margin-bottom: 20px;
}

.contenu .panier_table thead {
    font-family: 'Quicksand', sans-serif;
    font-size: 1.2em;
    border-bottom: 2px solid #880015;
}

.contenu .panier_table thead th {
    text-align: center;
}

.contenu .panier_table tbody tr {
    border-bottom: 1px solid #880015;
    background-color: rgba(255, 255, 255, 0.5);
    height: 250px;
}

.contenu .panier_table .produit {
    width: 40%;
}

.contenu .panier_table .detailProduit {
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: left;
}

.contenu .panier_table .detailTaille {
    font-size: 1.4em;
    font-weight: 600;
}

.contenu .panier_table .detailProduit img {
    height: 230.4px;
    margin-right: 10px;
    float: left;
}

.contenu .panier_table .taille, .contenu .panier_table .prix, .contenu .panier_table .prixTotal {
    width: 15%;
}

.contenu .panier_table td {
    text-align: center
}

.contenu .panier_table .produitLibelle {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 1.4em;
}

.contenu .panier_table .produitCouleur {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 1.5em;
    color: #880015;
    font-weight: 600;
}

.contenu .panier_table .produitMarque {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 1.6em;
    font-weight: bolder;
}

.contenu .panier_table .produitPrix {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 1.6em;
    color: #880015;
    font-weight: bold;
    text-align: center;
}

.contenu .panier_table .produitQuantite {
    font-size: 1.6em;
    font-family: 'Open Sans Condensed', sans-serif;
    font-weight: bold;
}

.contenu .panier_table .produitQuantite .fa {
    color: #880015;
}

.contenu .panier_table .produitTrash .fa {
    color: #000;
    font-size: 1.4em;
}

.contenu .panier_table tfoot {
    background-color: #fff;
    border-bottom: solid 2px #880015;
    font-size: 1.3em;
    font-weight: bold;
}

.contenu .panier_table span:hover {
    cursor: pointer;
}


.contenu .panier_small ul{
    list-style: none;
    display: inline-block;
    padding:0;
    width:100%;
    background-color: rgba(255, 255, 255, 0.5);
    border-bottom: 1px solid #880015;
    border-top: 1px solid #880015;
    margin-bottom: 0;
}

.contenu .panier_small img{margin-bottom: 10px;}

.contenu .panier_small .panier_small_total{
    font-size:1.2em;
    font-weight: 700;
    text-align: center;
    background-color: #fff;
    border-bottom: 2px solid #880015;
}

.contenu .panier_small .produitLibelle{
    font-size:1.6em;
}


.contenu .panier_small .detailProduit div{
    text-align: center;
    overflow: hidden;
    white-space: nowrap;
}

.contenu #product_view .images-produit .image {
    width: 100%;
    height: 100%;
    background-color: #FFF;
}

.contenu #product_view .images-produit .image img {
    /* La transition s'applique à la fois sur la largeur et la hauteur, avec une durée d'une seconde. */
    -webkit-transition: all 1s ease; /* Safari et Chrome */
    -moz-transition: all 1s ease; /* Firefox */
    -ms-transition: all 1s ease; /* Internet Explorer 9 */
    -o-transition: all 1s ease; /* Opera */
    transition: all 1s ease;
}


.contenu #product_view .ajouter_wishlist{
    position: absolute;
    margin-top:10px;
    right: 5%;
}


.contenu #product_view .ajouter_wishlist .fa{
    color: #880015;
    font-size:2em;
}

.contenu #wishlist ul, .contenu #searchProducts ul {
    list-style: none;
    display: inline-block;
    width: 20%;
    margin-bottom: 2px;
    border: 2px solid #F4ECDE;
    padding: 1px;
    background-color: #fff;
}

.contenu #wishlist ul > li,  .contenu #searchProducts ul > li{
    overflow: hidden;
    white-space: nowrap;
}

.contenu #wishlist .marque, .contenu #wishlist .libelle
.contenu #searchProducts .marque, .contenu #searchProducts .libelle
{
    color: #000;
}

.contenu #wishlist img, .contenu #searchProducts img {
    height: auto;
    max-width: 100%;
    /*max-height:407px;*/
}

.contenu #wishlist .marque, .contenu #searchProducts .marque {
    font-size: 1.6em;
    font-weight: bolder;
}

.contenu #wishlist a, .contenu #searchProducts a {
    text-decoration: none;
}

.contenu #wishlist .libelle, .contenu #searchProducts .libelle {
    text-align: center;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 1.3em;
}

.contenu #wishlist .prix, .contenu #searchProducts .prix {
    text-align: center;
    font-weight: bold;
    color: #880015;
    font-size: 1.3em;
    font-family: 'Open Sans Condensed', sans-serif;
}

.contenu #wishlist .supprimerProduit {
    color: #880015;
    font-size: 1.5em;
    position: absolute;
    margin-top: -4px;
    margin-left: 17%;
}

.contenu #wishlist i, .contenu #searchProducts i{
    background-color: #fff;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;

}

.contenu .images-produit .ajouter_wishlist i, .contenu #products_view .ajouterWishlist i {
    background-color: #fff;
    -webkit-border-radius: 10%;
    -moz-border-radius: 10%;
    border-radius: 10%;
}

.contenu #wishlist .image, .contenu #searchProducts .image {
    text-align: center;
}


.contenu #products_view .ajouterWishlist{
    position: absolute;
    margin-left:6px;
    color: #880015;
    font-size:1.5em;
}

/*  FILTRE PRIX */

.noUi-horizontal {
    /*margin: 20px;*/
    margin-top: 50px;
    margin-bottom: 30px;
}

.noUi-base, .noUi-target {
    background: #880015;
    height: 2px;
    width: auto;
}

.noUi-horizontal .noUi-handle {
    height: 20px;
    width: 20px;
    border-radius: 50px;
    background: #f4ecde;
    top: -8px;
    right: 115px !important;
}

.noUi-handle-upper {
    margin-left: 10px;
}

.noUi-horizontal .noUi-tooltip {
    color: #880015;
}

.example-val {
    visibility: hidden;
}

/* #filtres .dropdown,  #affichage_produit .dropdown{
  text-align: center;
} */

#filtres .dropdown .dropdown-menu,
.affichage_produit .dropdown .dropdown-menu {
    padding-left: 16px;
    padding-right: 16px;
}

.affichage_produit .nbItemsPage {
    font-size: 1.3em;
    font-family: 'Quicksand', sans-serif;
}

/* FILTRES TAILLES */

#filtres #dropdown-tailles ul, .affichage_produit .nbItemsPage ul {
    padding: 0;
    margin: 0;
}

#filtres #dropdown-couleurs .dropdown-menu ul {
    text-align: center;
}

.affichage_produit .nbItemsPage li {
    list-style: none;
    display: inline-block;
    padding: 5px;
    margin: 5px;
    border: 1px solid #880015;
    width: 40px;
    text-align: center;
}

.affichage_produit .nbItemsPage li:hover {
    background-color: #921729;
    color: white;
    cursor: pointer;
}

#filtres #dropdown-couleurs .dropdown-menu .couleurActive {
    opacity: 0.5;
    border: 1px solid black;
}

#filtres #dropdown-couleurs .dropdown-menu ul, #filtres #dropdown-couleurs .dropdown-menu {
    padding: 0;
    margin: 0;

}

#filtres #dropdown-couleurs .dropdown-menu li {
    list-style: none;
    display: inline-block;
}

#filtres #dropdown-couleurs .dropdown-menu input:hover {
    cursor: pointer;
}

#filtres #dropdown-couleurs .dropdown-menu input {
    -webkit-appearance: none;
    border-radius: 50%;
    border: 1px solid #cacece;
    padding: 12px;
    margin: 2px;
    display: inline-block;
    position: relative;
}

.affichage_produit {
    margin-bottom: 8px;
    padding-left: 8px;
    padding-top: 8px;
}

#dropdown-tri ul {
    list-style: none;
    padding: 5px;
    margin: 0;
}

#dropdown-tri .dropdown-menu li:hover {
    color: #880015;
    cursor: pointer;
}

#filtres .annuler_filtres span:hover {
    cursor: pointer;
}

#filtres .annuler_filtres {
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 1.5em;
    text-align: center;
}

#filtres .annuler_filtres .fa {
    color: #880015;
}

.my-pagination .ngx-pagination {
    margin-top: 10px;
    margin-bottom: 10px;
}

.my-pagination /deep/ .ngx-pagination .current {
    background: #880015;
    color: white;
}

.my-pagination .ngx-pagination li:not(.pagination-next):not(.current):not(.pagination-previous) a:hover {
    background: white;
    border-radius: 50%;
    color: #880015;
}

.my-pagination .ngx-pagination .pagination-next a:hover, .my-pagination .ngx-pagination .pagination-previous a:hover {
    background: none;
    color: #880015;
}

.my-pagination .ngx-pagination li {
    margin: 2px;
    font-family: 'Quicksand', sans-serif;

}

.my-pagination .ngx-pagination li:not(.pagination-next):not(.pagination-previous) {
    width: 30px;
    border-radius: 50%;
    text-align: center;
}

/* EOF - Affichage tous les produits */

/*  RESPONSIVE  */
@media (max-width: 1440px) {
    #top-page #right-top a, #top-page #right-top a:hover {
        padding-right: 1px;
        padding-top: 13px;
        font-family: 'Open Sans Condensed', sans-serif;
        /*padding-bottom: 16.5px;*/
    }

    .menu .menu-item {
        font-size: 1.7em;
    }

}

@media (max-width: 1260px) {
    #top-page .right-top-all {
        padding-top: 8px;
    }

    .menu .menu-item {
        font-size: 1.5em;
    }

    #top-page #right-top {
        padding-top: 0;
        height: 40px;
        text-align: center;
        margin-right: 30px;
    }

    #top-page #right-top .fa {
        color: #F4ECDE;
        font-size: 1.3em;
        padding-top: 5px;
        text-align: center;
        width: 40px;
    }

    #top-page #right-top a, #top-page #right-top a:hover {
        padding-top: 0;
    }

    #top-page #right-top a:hover {
        background-color: #000000;
        border: none;
    }

    #top-page #top-icon span {
        color: #F4ECDE;
        float: left;
        position: relative;
        padding-top: 10px;
    }

    #top-page #top-icon {
        display: block;
        margin: 0;
        cursor: pointer;
        /*padding-top:8px;*/
        padding: 8px
    }

    .searchLabel, #searchInput {
        width: 250px;
    }

    #top-page .right-top-all .top-name {
        display: none;
    }

    /* MENU REPONSIVE*/
    .global-container {
        overflow-x: hidden;
        height: 100%
    }

    .global-pusher {
        transition-duration: 0.3s;
        transform: translateX(0px);
        height: 100%;
    }

    .sidebar .global-pusher {
        transform: translateX(180px);
    }

    .sidebar .global-cache {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0.6);
    }

    .contenu {
        /*position: absolute;*/
        /*top: 60px;*/
        right: 0;
        left: 0;
        bottom: 0;
        overflow-x: hidden;
        overflow-y: scroll;
        -webkit-overflow-scrolling: touch;
        /*margin-bottom: 40px;*/
        padding-bottom: 10px;
        height: auto;
        min-height: 0;
    }

    .affichage_produit {
        display:none;
    }

    .menu {
        height: auto;
        position: absolute;
        left: 0;
        top: 0;
        padding: 0;
        padding-top: 60px;
        padding-left: 10px;
        bottom: 0;
        margin-bottom: 0;
        width: 180px;
        background-color: #000000;
        transform: translateX(-180px);
        transition-duration: 0.3s;
        border-bottom: none;
    }

    .menu .menu-item {
        width: 100%;
        font-family: 'Open Sans Condensed', sans-serif;
        font-size: 2em;
        display: block;
        text-align: left;
    }

    .menu a {
        color: #F4ECDE;
    }

    #bottom-page .bottom-bar, #bottom-page .bottom-copyright {
        display: none;
    }

    .icon_social-responsive {
        display: block;
        text-align: center;
        background-color: #F4ECDE;

        border-top: 1.5px solid #880015;
    }

    .icon_social-responsive img {
        width: 30px;
        margin: 5px 10px;
    }

    .menu .menu-dropdown, .menu .menu-dropdown-famille, .categorie-item .menu-dropdown-famille {
        box-shadow: none;
    }

    .contenu #products_all_view ul, .contenu #wishlist ul, .contenu #searchProducts ul {
        width: 33%;
    }

    .contenu #wishlist .supprimerProduit{
        margin-left: 28%;
    }


    .menu .menu-dropdown .familleg-name, .menu .menu-item .menu-dropdown-famille .famille-name {
        display: none;
    }

    .sidebar .menu .menu-dropdown img {
        display: block;
    }

    .menu .menu-dropdown img {
        display: none
    }

    #nos_valeurs .nos_valeurs_image, #nos_valeurs .nos_valeurs_titre {
        text-align: center;
    }

    #nos_valeurs .nos_valeurs_image {
        display: flex;
    }

    #top_link {
        bottom: 10%;
        border-radius: 50%;
        width: 40px;
        height: 40px;
        padding: 0;
        text-align: center;
    }

    #top_link .fa {
        margin-top: 8px;
    }

    #top_link .top_link_name {
        display: none;
    }

    /* EOF MENU */

}

@media (max-width: 1024px) {

    .right-top-all {
        width: 250px;
    }

    #top-page .logo {
        padding: 0;
    }

    #top-page #right-top {
        margin-right: 0;
    }

    #top-page #right-top a, #top-page #right-top a:hover {
        padding-top: 0;
        padding-bottom: 0;
    }

    #lequipe .lequipe, #nos_valeurs .nos_valeurs {
        display: block;
    }

    #lequipe .lequipe_image, #lequipe .lequipe_titre {
        text-align: center;
    }

    #lequipe .lequipe_image {
        display: flex;
    }

    .global_width{
        height: auto;
    }

}

@media (max-width: 992px) {
    .contenu #filtres, .contenu #familles_filtres {
        display: none;
    }

    #small-filtres {
        display: block;
        text-align: center;
        padding: 5px;
        margin: 5px;
    }

    #small-filtres .name {
        font-size: 1.2em;
        font-weight: 600;
        background-color: #FFF;
        color: #880015;
        padding: 5px;
        width: 90%;
        margin-right: auto;
        margin-left: auto;
        margin-bottom: 10px;
        -webkit-border-radius: 2px;
        -moz-border-radius: 2px;
        border-radius: 2px;
        -webkit-box-shadow: 0px 0px 1px #666666;
        -moz-box-shadow: 0px 0px 1px #666666;
        box-shadow: 0px 0px 1px #666666;
    }

}

@media (max-width: 768px) {

    .searchLabel, #searchInput, #top-page .logo, #searchBox {
        width: 200px;
        text-align: left;
    }

    #top-page #right-top {
        margin-right: 10px;
        width: 40px;
    }

    .searchBar #top-page {
        height: 100px;
        margin-bottom: 30px;
    }

    .searchBar #smallSearch .searchLabel {
        width: 80%;
    }

    .searchBar #smallSearch #searchInput {
        width: 100%;
    }

    .contenu #product_view .images-produit .col {
        padding-left: 5px;
        padding-right: 5px;
    }

    .contenu .selling {
        width: 90%;
    }

    .contenu #product_view .images-produit {
        margin: 0;
        padding: 0;
    }

    .contenu .panier_table{
        padding:0;
    }

    .contenu .panier_table .produitDescription{
        display:none;
    }


}

@media (max-width: 640px) {

    .contenu .panier_table{
        display: none;
    }

    .contenu .panier_small{
        display: block;
    }


    .searchBar .contenu {
        top: 100px;
    }

    #top-page .smallSearchBox {
        visibility: visible;

    }

    #top-page #searchBox {
        display: none;
        padding: 0;
    }

    /*#top-page #right-top .cercle {*/
        /*width: 40px;*/
        /*height: 40px;*/
        /*background: #000000;*/
        /*border-radius: 50%;*/
        /*border: none;*/
    /*}*/

    #top-page #right-top .fa {
        color: #F4ECDE;
    }

    #top-page #right-top {
        margin-right: 0;
    }

    .right-top-all {
        width: 200px;
    }

    .searchBar #top-page #smallSearch {
        display: block;
        text-align: center;
    }

    #top-page .logo {
        display: none;
    }

    #top-page .logo-min {
        display: block;
        max-width: 100px;
    }

    #top-page .logo-min img {
        padding-top: 5px;
        padding-bottom: 5px;
    }

    #top-page #smallSearch .searchLabel {
        padding: 0;
    }

    #top-page #smallSearch .searchLabel .fa-search {
        padding-top: 0;
    }

    .contenu #products_all_view ul, .contenu #wishlist ul, .contenu #searchProducts ul{
        width: 50%;
    }

    .contenu #wishlist .supprimerProduit {
        margin-left: 43%;
    }

    .global_width {
        padding: 0;
        margin: 1px;
    }

    .contenu #products_view .marque {
        text-align: center;
    }

    .contenu .produit-marge {
        padding-right: 0;
        padding-left: 0;
    }

    .contenu .selling {
        width: 100%;
    }

    .contenu #product_view .images-produit .image {
        margin: auto;
        width: 90%;
    }

    .contenu #product_view .images-produit img.image-principale {
        margin: 0;
    }

    .contenu .selling ul {
        width: 50%;
    }

    #lequipe .lequipe_contenu, .nos_valeurs .nos_valeurs_contenu {
        padding-left: 0;
    }

    #nos_valeurs .nos_valeurs_image img {
        padding: 0;
    }

    .contenu #product_view .ajouter_wishlist{
        right:7%
    }

    .contenu #products_view .ajouterWishlist {
        margin-left:14px;
    }
    .contenu #products_all_view ul:nth-child(2n) .ajouterWishlist{
        margin-left:3px;
    }



}

@media (max-width: 425px) {
    .contenu #product_view .images-produit .image {
        width: 100%;
    }

    #small-filtres .name {
        width: 100%;
    }

    .contenu .btn_panier{
        font-size:1em;
    }

}

@media (max-width: 375px) {
    .contenu #products_all_view ul, .contenu #wishlist ul,  .contenu #searchProducts ul{
        width: 100%;

    }

    .contenu #wishlist .supprimerProduit {
        margin-left: 90%;
    }

    .contenu #products_all_view ul:nth-child(2n) .ajouterWishlist{
        margin-left:14px;
    }

}