<div class="contenu">
    <div class="global_width">
        <div class="row">
            <div id ="soldes" class="max_width">        
                <a href="#" class="image col-xs-12 col-sm-12 col-md-12 col-lg-6" ><img src="assets/photos_accueil/img_bebes.png"></a>
                <a href="#" class="image col-xs-12 col-sm-12 col-md-12 col-lg-6"><img src="assets/photos_accueil/img_veste.png"></a>   
                <a href="#" class="image col-xs-12 col-sm-12 col-md-12 col-lg-3" ><img src="assets/photos_accueil/img_bebe.png"></a>
                <a href="#" class="image col-xs-12 col-sm-12 col-md-12 col-lg-3" ><img src="assets/photos_accueil/img_maillot.png"></a>
                <a href="#" class="image col-xs-12 col-sm-12 col-md-12 col-lg-3" ><img src="assets/photos_accueil/img_poncho.png"></a>
                <a href="#" class="image col-xs-12 col-sm-12 col-md-12 col-lg-3" ><img src="assets/photos_accueil/img_bebe.png"></a>  

            </div>
        </div>           
    </div>
</div>